/*******   Caja principal con el contenido de las lecciones   *******/
.S1L1V2_container {
    position: absolute;
    border: calc(var(--frameHeight)*0.012) solid #484849;
    background-color: #fff;
    border-radius: 20px;
    height: 73%;
    left: 8.5%;
    overflow: hidden;
    top: 18%;
    width: 83%;
}
/*******   Caja central textos   *******/
.S1L1V2_container .box_text {
    position: absolute;
    font-size: (var(--frameHeight)*0.012);
    height: 90%;
    left: 2.5%;
    top: calc(var(--frameHeight)*0.024);
    width: 36%;
}
.S1L1V2_container .box_text .title_text {
    width: 100%;
    color: #ED6B06;
    display: block;
}
.S1L1V2_container .box_text .title_text .title_text1{
    font-family: var(--font-family-light);
    font-size: calc(var(--frameHeight)*0.08);
    font-weight: normal; 
    text-align: center;
    margin-bottom: calc(var(--frameHeight)*-0.01);
    width: 100%;
}
.S1L1V2_container .box_text .title_text .title_text2{
    font-family: var(--font-family-bold);
    font-size: calc(var(--frameHeight)*0.046);
    font-weight: bolder;
    line-height: 95%;
    text-align: center;
    width: 100%;
}
.S1L1V2_container .box_text .paragraph {
    *position: absolute;
    *height: -webkit-fill-available;
    color: #484849;
    font-family: var(--font-family-medium);
    font-size: calc(var(--frameHeight)*0.024);
    line-height: 125%;
    overflow-y: auto;
    margin: 0 auto;
    padding-top: calc(var(--frameHeight)*0.024);
    text-align: justify;
    width: 78%;
}
.S1L1V2_container .box_text .paragraph {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.S1L1V2_container .box_text .paragraph::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

input[type=radio] {
    display: none;
}
.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
}
.container {
    width: 50%;
    position: absolute;
    height: 55%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    left: 40%;
    top: 20%;
}
.cards {
    position: absolute;
    width: 100%;
    height: 100%;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
/* #item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
    transform: translatex(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
    transform: translatex(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
} */
#item-1:checked ~ .cards #song-1 img, #item-2:checked ~ .cards #song-2 img, #item-3:checked ~ .cards #song-3 img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}
.player {
    border-radius: 8px;
    min-width: 320px;
    padding: 20% 5%;
}

.frontal{
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 2;
}
.derecha{
    transform: translatex(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
.izquierda{
    transform: translatex(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
.oculto{
    transform: translatex(0%) scale(0.8);
    opacity: 0.2;
    z-index: 0;
    display: none;
}

label > p {
    color: white;
    position: absolute;
    top: -5px;
    left: 25px;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    width: 30px;
    background-color: #333;
    padding-left: 5px;
}
