<div class="S1L1V2_container">
  <div class="box_text">
    <div class="title_text">
      <div class="title_text1">¿QUÉ SON LOS </div>
      <div class="title_text2">BIENES NACIONALES DE USO PÚBLICO (BNUP)?</div>
    </div>
    <div class="paragraph">
      Los Bienes Nacionales de Uso Público, son espacios públicos que están destinados al uso y disfrute de toda la
      población, sin segregación alguna, siendo alguno de ellos: plazas, parques, jardines, playas, ríos, lagos, calles
      y aceras, entre otros. Todos estos espacios están abiertos al público y su uso no puede ser restringido a un grupo
      determinado de personas.
    </div>
  </div>

  <div class="container">
    <div class="player"></div>
    <input type="radio" name="slider" id="item-1" checked>
    <input type="radio" name="slider" id="item-2">
    <input type="radio" name="slider" id="item-3">
    <input type="radio" name="slider" id="item-4">
    <div class="cards">
      <label class="card" for="item-2" id="song-2">
        <img src="../../../../assets/section1/lesson1/view2/img1.jpg" alt="song">
      </label>
      <label class="card" for="item-3" id="song-3">
        <img src="../../../../assets/section1/lesson1/view2/img2.jpg" alt="song">
      </label>
      <label class="card" for="item-4" id="song-4">
        <img src="../../../../assets/section1/lesson1/view2/img3.jpg" alt="song">
      </label>
      <label class="card" for="item-5" id="song-5">
        <img src="../../../../assets/section1/lesson1/view2/img4.jpg" alt="song">
      </label>
      <label class="card" for="item-6" id="song-6">
        <img src="../../../../assets/section1/lesson1/view2/img5.jpg" alt="song">
      </label>
      <label class="card" for="item-7" id="song-7">
        <img src="../../../../assets/section1/lesson1/view2/img6.jpg" alt="song">
      </label>
      <label class="card" for="item-8" id="song-8">
        <img src="../../../../assets/section1/lesson1/view2/img7.jpg" alt="song">
      </label>
      <label class="card" for="item-9" id="song-9">
        <img src="../../../../assets/section1/lesson1/view2/img8.jpg" alt="song">
      </label>
      <label class="card" for="item-1" id="song-1">
        <img src="../../../../assets/section1/lesson1/view2/img9.jpg" alt="song">
      </label>

    </div>
  </div>

  <!-- Personaje -->

  <!-- <app-character #characterId></app-character> -->


  <!-- <div class="box_character">
            <div class="character">
                <div class="mouth close"></div>
            </div>
            <div class="btns_character">
                <div type="button" class="button button_character_play" [ngClass]="stateCharacterPlay"
                    (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()" (click)="btnCharacterPlay()">
                </div>
                <div type="button" class="button button_character_sound" [ngClass]="stateCharacterSound"
                    (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()" (click)="btnCharacterSound()">
                </div> -->
  <!-- <div class="button button_character_play" [ngClass]="soundMenu" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()" (click)="btnPostSound()"></div>
                <div class="button button_character_sound" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()" ></div> -->
  <!-- </div>
        </div> -->
</div>
<!-- <app-modal (isClicked)="closeModal($event)" #modalId [modalMessage]="modalMessage" ></app-modal> -->