.fondo {
    position: absolute;
    background: url(../../assets/section1/city/fondo.png) no-repeat;  
    background-size: 100% 100%;
    width: 100%;
    height:100%;  
    top: 0%;
}

.disabled, .inactive {
    pointer-events: none;
}
.active {
    cursor: pointer;
}

/*******   Lesson2   *******/
.city_btn2{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 47% 100%, 47% 38%, 0% 40%);;
}
.city_btn2 a{
    display: block;
    height: 100%;
    width: 100%;
}
.city_btn2 .module_2_info {
    position: absolute;
    background-color: #d4e3e3;
    border: calc(var(--frameHeight)*0.008) solid #3d3d3d;
    border-radius: calc(var(--frameHeight)*0.01);
    color: #198195;
    font-size: calc(var(--frameHeight)*0.035);
    font-weight: bolder;
    height: calc(var(--frameHeight)*0.08104);
    left: 53.5%;
    text-align: center;
    top: 38%;
    width: calc(var(--frameHeight)*0.216);
    display: flex;
    align-items: center;
    justify-content: center;
}
.city_btn2.right:hover .module_2_info,
.city_btn2.wrong:hover .module_2_info
{
    display: none;
}
.city_btn2.right {
    position: absolute;
    background: url(../../assets/section1/city/btn2_right.png) no-repeat;
    background-size: 100% 100%;
    height: 27%;
    left: -10.4%;
    top: 42.5%;
    width: 43.5%;
    cursor: pointer;
    z-index: 3;
}
.city_btn2.right:hover {
    position: absolute;
    background: url(../../assets/section1/city/btn2_right_hover.png) no-repeat;
    background-size: 100% 100%;
    height: 29%;
    left: -12%;
    top: 40.5%;
    width: 45.5%;
    cursor: pointer;
    z-index: 10;
}
.city_btn2.wrong {
    position: absolute;
    background: url(../../assets/section1/city/btn2_wrong.png) no-repeat;
    background-size: 100% 100%;
    height: 27%;
    left: -10.4%;
    top: 42.5%;
    width: 43.5%;
    cursor: pointer;
    z-index: 3;
    /* clip-path: polygon(-6% 0%, 104% 0%, 57% 100%, 40% 100%) */
}
.city_btn2.wrong:hover {
    position: absolute;
    background: url(../../assets/section1/city/btn2_wrong_hover.png) no-repeat;
    background-size: 100% 100%;
    height: 29%;
    left: -12%;
    top: 40.5%;
    width: 45.5%;
    cursor: pointer;
    z-index: 10;
}

/*******   Lesson3   *******/
.city_btn3 a{
    display: block;
    height: 100%;
    width: 100%;
}
.city_btn3 .module_3_info {
    position: absolute;
    background-color: #d4e3e3;
    border: calc(var(--frameHeight)*0.008) solid #3d3d3d;
    border-radius: calc(var(--frameHeight)*0.01);
    color: #198195;
    font-size: calc(var(--frameHeight)*0.035);
    font-weight: bolder;
    height: calc(var(--frameHeight)*0.08104);
    left: 24%;
    text-align: center;
    top: 50%;
    width: calc(var(--frameHeight)*0.216);
    display: flex;
    align-items: center;
    justify-content: center;
}
.city_btn3.right:hover .module_3_info,
.city_btn3.wrong:hover .module_3_info
{
    display: none;
}
.city_btn3.right {
    position: absolute;
    background: url(../../assets/section1/city/btn3_right.png) no-repeat;
    background-size: 100% 100%;
    height: 47%;
    left: 28.52%;
    top: 23.8%;
    width: 22.1%;
    cursor: pointer;
    z-index: 5;
}
.city_btn3.right:hover {
    position: absolute;
    background: url(../../assets/section1/city/btn3_right_hover.png) no-repeat;
    background-size: 100% 100%;
    height: 49%;
    left: 27.8%;
    top: 21.95%;
    width: 23.1%;
    cursor: pointer;
    z-index: 10;
}
.city_btn3.wrong {
    position: absolute;
    background: url(../../assets/section1/city/btn3_wrong.png) no-repeat;
    background-size: 100% 100%;
    height: 47%;
    left: 28.52%;
    top: 23.8%;
    width: 22.1%;
    cursor: pointer;
    z-index: 5;
}
.city_btn3.wrong:hover {
    position: absolute;
    background: url(../../assets/section1/city/btn3_wrong_hover.png) no-repeat;
    background-size: 100% 100%;
    height: 49%;
    left: 27.8%;
    top: 21.95%;
    width: 23.1%;
    cursor: pointer;
    z-index: 10;
}

/*******   Lesson1   *******/
.city_btn1 a{
    display: block;
    height: 100%;
    width: 100%;
}
.city_btn1 .module_1_info {
    /* position: absolute;
    border: calc(var(--frameHeight)*0.015) solid #3d3d3d;
    border-top-left-radius: calc(var(--frameHeight)*0.02);
    border-top-right-radius: calc(var(--frameHeight)*0.02);
    border-bottom: none;
    height: calc(var(--frameHeight)*0.02);
    top: 0;
    width: calc(var(--frameHeight)*0.02);
    background-color: white; */
    position: absolute;
    background-color: #d4e3e3;
    border: calc(var(--frameHeight)*0.008) solid #3d3d3d;
    border-radius: calc(var(--frameHeight)*0.01);
    color: #198195;
    font-size: calc(var(--frameHeight)*0.035);
    font-weight: bolder;
    height: calc(var(--frameHeight)*0.08);
    left: 9%;
    text-align: center;
    top: 66%;
    width: calc(var(--frameHeight)*0.216);
    display: flex;
    align-items: center;
    justify-content: center;
}
.city_btn1.right:hover .module_1_info,
.city_btn1.wrong:hover .module_1_info
{
    display: none;
}
.city_btn1.right {
    position: absolute;
    background: url(../../assets/section1/city/btn1_right.png) no-repeat;
    background-size: 100% 100%;
    height: 62%;
    left: 47.62%;
    top: 7.5%;
    width: 11.35%;
    cursor: pointer;
    z-index: 4;
}
.city_btn1.right:hover {
    position: absolute;
    background: url(../../assets/section1/city/btn1_right_hover.png) no-repeat;
    background-size: 100% 100%;
    height: 64%;
    left: 46.92%;
    top: 5.5%;
    width: 12.35%;
    cursor: pointer;
    z-index: 10;
}
.city_btn1.wrong {
    position: absolute;
    background: url(../../assets/section1/city/btn1_wrong.png) no-repeat;
    background-size: 100% 100%;
    height: 62%;
    left: 47.62%;
    top: 7.5%;
    width: 11.35%;
    cursor: pointer;
    z-index: 4;
}
.city_btn1.wrong:hover {
    position: absolute;
    background: url(../../assets/section1/city/btn1_wrong_hover.png) no-repeat;
    background-size: 100% 100%;
    height: 64%;
    left: 46.92%;
    top: 5.5%;
    width: 12.35%;
    cursor: pointer;
    z-index: 10;
}

/*******   Lesson4   *******/
.city_btn4 a{
    display: block;
    height: 100%;
    width: 100%;
}
.city_btn4 .module_4_info {
    position: absolute;
    background-color: #d4e3e3;
    border: calc(var(--frameHeight)*0.008) solid #3d3d3d;
    border-radius: calc(var(--frameHeight)*0.01);
    color: #198195;
    font-size: calc(var(--frameHeight)*0.035);
    font-weight: bolder;
    height: calc(var(--frameHeight)*0.08104);
    left: 16%;
    text-align: center;
    top: 0%;
    width: calc(var(--frameHeight)*0.216);
    display: flex;
    align-items: center;
    justify-content: center;
}
.city_btn4.right:hover .module_4_info,
.city_btn4.wrong:hover .module_4_info
{
    display: none;
}
.city_btn4.right {
    position: absolute;
    background: url(../../assets/section1/city/btn4_right.png) no-repeat;
    background-size: 100% 100%;
    height: 34%;
    left: 54.35%;
    top: 35.5%;
    width: 61.6%;
    cursor: pointer;
    z-index: 3;
}
.city_btn4.right:hover {
    position: absolute;
    background: url(../../assets/section1/city/btn4_right_hover.png) no-repeat;
    background-size: 100% 100%;
    height: 36%;
    left: 54.35%;
    top: 33.5%;
    width: 62.6%;
    cursor: pointer;
    z-index: 10;
}
.city_btn4.wrong {
    position: absolute;
    background: url(../../assets/section1/city/btn4_wrong.png) no-repeat;
    background-size: 100% 100%;
    height: 33.7%;
    left: 54.35%;
    top: 35.8%;
    width: 61.6%;
    cursor: pointer;
    z-index: 3;
}
.city_btn4.wrong:hover {
    position: absolute;
    background: url(../../assets/section1/city/btn4_wrong_hover.png) no-repeat;
    background-size: 100% 100%;
    height: 36%;
    left: 54.35%;
    top: 33.5%;
    width: 62.6%;
    cursor: pointer;
    z-index: 10;
}

.pipes {
    position: absolute;
    background: url(../../assets/section1/city/tuberias.png) no-repeat;
    background-size: 90% 70%;
    width: 87%;
    height: 45%;
    top: 69.2%;
    left: 11.5%;
}

.title {
    position: absolute;
    background: url(../../assets/section1/city/title.png) no-repeat;
    background-size: 100% 100%;
    width: 23.5%;
    height: 28%;
    top: 1%;
    right: -0.7%;
}


/* .post_menu {
    position: absolute;
    background: url(../../assets/section1/menu/post.png) no-repeat;
    background-size: 100% 100%;
    width: 7%;
    height: 47%;
    bottom: -0.5%;
    *background-color: #9008;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.post_menu .button{
    position: absolute;
    width: 43%;
    height: 14.3%;
    left: 44%;
    box-shadow: 0 calc(var(--frameHeight)*0.008) calc(var(--frameHeight)*0) calc(var(--frameHeight)*0.002) #3b3c3d;
    border-top:calc(var(--frameHeight)*0.008) solid #3b3c3d;
    border-left:calc(var(--frameHeight)*0.008) solid #3b3c3d;
    border-right:calc(var(--frameHeight)*0.008) solid #3b3c3d;
    border-bottom:calc(var(--frameHeight)*0.008) solid #3b3c3d;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.post_menu .button:active {
    transform: translateY(calc(var(--frameHeight)*0.008));
    border-top: calc(var(--frameHeight)*0.008) solid #3b3c3d;
    border-left: calc(var(--frameHeight)*0.008) solid #3b3c3d;
    border-right: calc(var(--frameHeight)*0.008) solid #3b3c3d;
    border-bottom: calc(var(--frameHeight)*0.008) solid #3b3c3d;
    box-shadow: none;
}*/





/*******   Caja Cambiar Vista Ciudad   *******/
.btnSwitch {
    position: absolute;
    align-items: center;
    background-color: #1995AD;
    border: calc(var(--frameHeight)*0.01) solid #3B3C3D;
    border-radius: 50%;
    bottom: 0%;
    display: flex;
    font-size: calc(var(--frameHeight)*0.028);
    height: calc(var(--frameHeight)*0.13);
    justify-content: center;
    line-height: 100%;
    right: 8%;
    width: calc(var(--frameHeight)*0.13);
    z-index: 8;
    transition: 0.5s all ease;
}

.btnSwitch:hover {
    transform: scale(1.2);
    background-color: #156270;
}


/*******   ToolTips   *******/
.centerDiv {
    position: absolute;
    height: var(--frameHeight);
    width: var(--frameWidth);
}
.tooltipWords {
    position: inherit;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: calc(var(--frameHeight) * 0.02);
    box-shadow: calc(var(--frameHeight) * 0) calc(var(--frameHeight) * 0)
        calc(var(--frameHeight) * 0.025) #fff;
    color: white;
    font-family: var(--font-family-regular);
    font-size: calc(var(--frameHeight) * 0.03);
    line-height: normal;
    padding: 0.7%;
    text-align: center;
}
.tooltipButtonNav{
    position: absolute;
    width: calc(var(--frameHeight)*0.065);
    height: calc(var(--frameHeight)*0.065);
    left: 3.15%;
    box-shadow: 0 calc(var(--frameHeight)*0.008) calc(var(--frameHeight)*0) calc(var(--frameHeight)*0.002) #3b3c3d;
    border-top:calc(var(--frameHeight)*0.008) solid #3b3c3d;
    border-left:calc(var(--frameHeight)*0.008) solid #3b3c3d;
    border-right:calc(var(--frameHeight)*0.008) solid #3b3c3d;
    border-bottom:calc(var(--frameHeight)*0.008) solid #3b3c3d;
    border-radius: 50%;
    z-index: 1;
}

#tooltipNavigatorBar {
    position: fixed;
    align-items: center;
    background-color: #000a;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99;
}
#rowNavigatorBar {
    position: absolute;
    background: url(../../assets/section1/general_view_lessons/toolTipIndicator.png)
        no-repeat;
    background-size: 100% 100%;
    height: 2.27%;
    left: 8%;
    top: 76%;
    width: 12%;
}
#boxIndicatorNavigatorBar {
    position: absolute;
    background-color: #fffc;
    border: 1px solid #3338;
    border-radius: calc(var(--frameHeight) * 0.01);
    box-shadow: calc(var(--frameHeight) * 0) calc(var(--frameHeight) * 0) calc(var(--frameHeight) * 0.03) #fff;
    height: calc(var(--frameHeight) * 0.47);
    left: 2%;
    top: 52.5%;
    width: calc(var(--frameHeight) * 0.117);
}
#wordNavigatorBar {
    left: 21%;
    top: 72%;
}

#tooltipMenu {
    position: fixed;
    align-items: center;
    background-color: #000a;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99;
}
#rowMenu {
    position: absolute;
    background: url(../../assets/section1/general_view_lessons/toolTipIndicator.png)
        no-repeat;
    background-size: 100% 100%;
    height: 2.27%;
    left: 8%;
    top: 60.5%;
    width: 12%;
}
#boxIndicatorMenu {
    position: absolute;
    background-color: #fffc;
    border: 1px solid #3338;
    border-radius: calc(var(--frameHeight) * 0.01);
    box-shadow: calc(var(--frameHeight) * 0) calc(var(--frameHeight) * 0) calc(var(--frameHeight) * 0.03) #fff;
    height: calc(var(--frameHeight) * 0.47);
    left: 2%;
    top: 52.5%;
    width: calc(var(--frameHeight) * 0.117);
}
#wordMenu {
    left: 21%;
    top: 58%;
}

.tooltipButtonNav.button_menu {
    background: url(../../assets/section1/menu/menu.png) no-repeat;
    background-size: 100% 100%;
    top: 58%;
}

#tooltipObjectives {
    position: fixed;
    align-items: center;
    background-color: #000a;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99;
}
#rowObjectives {
    position: absolute;
    background: url(../../assets/section1/general_view_lessons/toolTipIndicator.png)
        no-repeat;
    background-size: 100% 100%;
    height: 2.27%;
    left: 8%;
    top: 70.5%;
    width: 12%;
}
#boxIndicatorObjectives {
    position: absolute;
    background-color: #fffc;
    border: 1px solid #3338;
    border-radius: calc(var(--frameHeight) * 0.01);
    box-shadow: calc(var(--frameHeight) * 0) calc(var(--frameHeight) * 0) calc(var(--frameHeight) * 0.03) #fff;
    height: calc(var(--frameHeight) * 0.47);
    left: 2%;
    top: 52.5%;
    width: calc(var(--frameHeight) * 0.117);
}
#wordObjectives {
    left: 21%;
    top: 68%;
}
.tooltipButtonNav.button_objectives {
    background: url(../../assets/section1/menu/objetives.png) no-repeat;
    background-size: 100% 100%;
    top: 68%;
}

#tooltipSound {
    position: fixed;
    align-items: center;
    background-color: #000a;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99;
}
#rowSound {
    position: absolute;
    background: url(../../assets/section1/general_view_lessons/toolTipIndicator.png)
        no-repeat;
    background-size: 100% 100%;
    height: 2.27%;
    left: 8%;
    top: 80.5%;
    width: 12%;
}
#boxIndicatorSound {
    position: absolute;
    background-color: #fffc;
    border: 1px solid #3338;
    border-radius: calc(var(--frameHeight) * 0.01);
    box-shadow: calc(var(--frameHeight) * 0) calc(var(--frameHeight) * 0) calc(var(--frameHeight) * 0.03) #fff;
    height: calc(var(--frameHeight) * 0.47);
    left: 2%;
    top: 52.5%;
    width: calc(var(--frameHeight) * 0.117);
}
#wordSound {
    left: 21%;
    top: 78.5%;
}
.tooltipButtonNav.button_sound {
    background: url(../../assets/section1/menu/sound.png) no-repeat;
    background-size: 100% 100%;
    top: 78%;
}

#tooltipProfile {
    position: fixed;
    align-items: center;
    background-color: #000a;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99;
}
#rowProfile {
    position: absolute;
    background: url(../../assets/section1/general_view_lessons/toolTipIndicator.png)
        no-repeat;
    background-size: 100% 100%;
    height: 2.27%;
    left: 8%;
    top: 90.5%;
    width: 12%;
}
#boxIndicatorProfile {
    position: absolute;
    background-color: #fffc;
    border: 1px solid #3338;
    border-radius: calc(var(--frameHeight) * 0.01);
    box-shadow: calc(var(--frameHeight) * 0) calc(var(--frameHeight) * 0) calc(var(--frameHeight) * 0.03) #fff;
    height: calc(var(--frameHeight) * 0.47);
    left: 2%;
    top: 52.5%;
    width: calc(var(--frameHeight) * 0.117);
}
#wordProfile {
    left: 21%;
    top: 88%;
}
.tooltipButtonNav.button_profile {
    background: url(../../assets/section1/menu/profile.png) no-repeat;
    background-size: 100% 100%;
    top: 88%;
}

#tooltipModulesBar {
    position: fixed;
    align-items: center;
    background-color: #000a;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99;
}
#rowModulesBar {
    position: absolute;
    background: url(../../assets/section1/general_view_lessons/toolTipIndicator.png)
    no-repeat;
    background-size: 100% 100%;
    height: 4.27%;
    left: 47%;
    top: 77%;
    transform: rotate(90deg);
    width: 7%;
}
#boxIndicatorModulesBar {
    position: absolute;
    background-color: #fffb;
    border: 1px solid #3338;
    border-radius: calc(var(--frameHeight) * 0.01);
    box-shadow: calc(var(--frameHeight) * 0) calc(var(--frameHeight) * 0) calc(var(--frameHeight) * 0.03) #fff;
    height: calc(var(--frameHeight) * 0.647);
    left: 12%;
    top: 5.5%;
    width: calc(var(--frameHeight) * 1.7);
}
#wordModulesBar {
    left: 40%;
    top: 89%;
}

#tooltipModule1 {
    position: fixed;
    align-items: center;
    background-color: #000a;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99;
}
#rowModule1 {
    position: absolute;
    background: url(../../assets/section1/general_view_lessons/toolTipIndicator.png)
    no-repeat;
    background-size: 100% 100%;
    height: 3.27%;
    left: 50.5%;
    top: 75%;
    transform: rotate(90deg);
    width: 5%;
}
#boxIndicatorModule1 {
    position: absolute;
    background-color: #fffb;
    border: 1px solid #3338;
    border-radius: calc(var(--frameHeight) * 0.01);
    box-shadow: calc(var(--frameHeight) * 0) calc(var(--frameHeight) * 0) calc(var(--frameHeight) * 0.03) #fff;
    height: calc(var(--frameHeight) * 0.647);
    left: 12%;
    top: 5.5%;
    width: calc(var(--frameHeight) * 1.7);
}
#wordModule1 {
    left: 42%;
    top: 85%;
}

#tooltipModule2 {
    position: fixed;
    align-items: center;
    background-color: #000a;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99;
}
#rowModule2 {
    position: absolute;
    background: url(../../assets/section1/general_view_lessons/toolTipIndicator.png)
    no-repeat;
    background-size: 100% 100%;
    height: 3.27%;
    left: 20.5%;
    top: 75%;
    transform: rotate(90deg);
    width: 5%;
}
#boxIndicatorModule2 {
    position: absolute;
    background-color: #fffb;
    border: 1px solid #3338;
    border-radius: calc(var(--frameHeight) * 0.01);
    box-shadow: calc(var(--frameHeight) * 0) calc(var(--frameHeight) * 0) calc(var(--frameHeight) * 0.03) #fff;
    height: calc(var(--frameHeight) * 0.647);
    left: 12%;
    top: 5.5%;
    width: calc(var(--frameHeight) * 1.7);
}
#wordModule2 {
    left: 11%;
    top: 85%;
}

#tooltipProgress {
    position: fixed;
    align-items: center;
    background-color: #000a;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99;
}
#rowProgress {
    position: absolute;
    background: url(../../assets/section1/general_view_lessons/toolTipIndicator.png)
    no-repeat;
    background-size: 100% 100%;
    height: 3.27%;
    left: 87.5%;
    top: 75%;
    width: 5%;
}
#boxIndicatorProgress {
    position: absolute;
    background-color: #fffb;
    border: 1px solid #3338;
    border-radius: calc(var(--frameHeight) * 0.01);
    box-shadow: calc(var(--frameHeight) * 0) calc(var(--frameHeight) * 0) calc(var(--frameHeight) * 0.03) #fff;
    height: calc(var(--frameHeight) * 0.48);
    left: 93.1%;
    top: 51.8%;
    width: calc(var(--frameHeight) * 0.112);
}
#wordProgress {
    left: 59%;
    top: 72%;
}


