<div class="fondo">
    <!-- <div class="city"></div> -->
    <div class="city_btn1 wrong" [ngClass]="lesson1Available" (click)="btnModule(1)" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()">
        <!-- <a [routerLink]="['/section1/lesson1']"></a> -->
        <div class="module_1_info">MÓDULO 1</div>
    </div>
    <div class="city_btn2 wrong" [ngClass]="lesson2Available" (click)="btnModule(2)" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()">
        <!-- <a [routerLink]="['/section1/lesson2']" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()"></a> -->
        <div class="module_2_info">MÓDULO 2</div>
    </div>
    <div class="city_btn3 wrong" [ngClass]="lesson3Available" (click)="btnModule(3)" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()">
        <!-- <a [routerLink]="['/section1/lesson3']" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()"></a> -->
        <div class="module_3_info">MÓDULO 3</div>
    </div>
    <div class="city_btn4 wrong" [ngClass]="lesson4Available" (click)="btnModule(4)" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()">
        <!-- <a [routerLink]="['/section1/lesson4']" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()"></a> -->
        <div class="module_4_info">MÓDULO 4</div>
    </div>
    <div class="pipes"></div>
    <div class="title"></div>
<!--     <div class="post_menu">
        <div class="button button_menu" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()" (click)="btnPostMainMenu()"></div>
        <div class="button button_objectives" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()" (click)="btnObjectives()"></div>
        <div class="button button_sound" [ngClass]="stateSoundMenu" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()" (click)="btnSound()"></div>
        <div class="button button_profile" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()" (click)="btnProfile()"></div>
    </div> -->

    <!-- <div class="btnSwitch btn btn-success" (click)="switchRightWrong()">Cambiar Vista</div> -->

    <div id="tooltipNavigatorBar" *ngIf="tooltipNavigatorBar">
        <div class="centerDiv">
            <div id="rowNavigatorBar"></div>
            <div id="boxIndicatorNavigatorBar"></div>
            <div class="tooltipWords" id="wordNavigatorBar">
                ACÁ ENCONTRARÁS LA BARRA <br /> DE NAVEGACIÓN
            </div>
        </div>
    </div>

    <div id="tooltipMenu" *ngIf="tooltipMenu">
        <div class="centerDiv">
            <div id="rowMenu"></div>
            <div id="boxIndicatorMenu"></div>
            <div class="tooltipWords" id="wordMenu">
                ESTE ES EL BOTÓN MENÚ
            </div>
            <div class="tooltipButtonNav button_menu"></div>
        </div>
    </div>

    <div id="tooltipObjectives" *ngIf="tooltipObjectives">
        <div class="centerDiv">
            <div id="rowObjectives"></div>
            <div id="boxIndicatorObjectives"></div>
            <div class="tooltipWords" id="wordObjectives">
                ESTE ES EL BOTÓN OBJETIVOS
            </div>
            <div class="tooltipButtonNav button_objectives"></div>
        </div>
    </div>

    <div id="tooltipSound" *ngIf="tooltipSound">
        <div class="centerDiv">
            <div id="rowSound"></div>
            <div id="boxIndicatorSound"></div>
            <div class="tooltipWords" id="wordSound">
                ESTE ES EL BOTÓN SILENCIAR
            </div>
            <div class="tooltipButtonNav button_sound"></div>
        </div>
    </div>

    <div id="tooltipProfile" *ngIf="tooltipProfile">
        <div class="centerDiv">
            <div id="rowProfile"></div>
            <div id="boxIndicatorProfile"></div>
            <div class="tooltipWords" id="wordProfile">
                ESTE ES EL BOTÓN PERFIL
            </div>
            <div class="tooltipButtonNav button_profile"></div>
        </div>
    </div>

    <div id="tooltipModulesBar" *ngIf="tooltipModulesBar">
        <div class="centerDiv">
            <div id="rowModulesBar"></div>
            <div id="boxIndicatorModulesBar"></div>
            <div class="tooltipWords" id="wordModulesBar">
                ACÁ PUEDES SELECCIONAR <br/> EL MÓDULO AL CUAL INGRESAR
            </div>
        </div>
    </div>

    <div id="tooltipModule1" *ngIf="tooltipModule1">
        <div class="centerDiv">
            <div id="rowModule1"></div>
            <div id="boxIndicatorModule1"></div>
            <div class="tooltipWords" id="wordModule1">
                DEBES COMPLETAR LOS MÓDULOS <br/> EN ORDEN, EMPEZANDO <br/> POR EL NÚMERO UNO
            </div>
        </div>
    </div>

    <div id="tooltipModule2" *ngIf="tooltipModule2">
        <div class="centerDiv">
            <div id="rowModule2"></div>
            <div id="boxIndicatorModule2"></div>
            <div class="tooltipWords" id="wordModule2">
                AL COMPLETAR UN MÓDULO <br/> PUEDES ACCEDER AL SIGUIENTE
            </div>
        </div>
    </div>

    <div id="tooltipProgress" *ngIf="tooltipProgress">
        <div class="centerDiv">
            <div id="rowProgress"></div>
            <div id="boxIndicatorProgress"></div>
            <div class="tooltipWords" id="wordProgress">
                AL AVANZAR EN LAS VISTAS <br/> PUEDES VER TU PROGRESO EN LA BARRA
            </div>
        </div>
    </div>

</div>
<app-layout></app-layout>