/***   Animación    ***/

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
  
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/***   Modal   ***/
#modal_info{
    position: absolute;
    align-items: center;
    background-color: #5c5c5ccc !important;
    border: none;
    color: white;
    display: block;
    font-family: var(--font-family-light);
    opacity: 100%;
    text-align: center;  
}

.modal-dialog-advanced {
    display: grid;
    height: 100%;
    place-items: center;
    width: 100%;
}

.modal-content {
    border: none;
    /* background-size: 100% 100%; */
    background-image: url(../../../../assets/section1/general_view_lessons/modal_completo.png);
    background-size: 100% 100%;
    background-color: transparent;
    height: 90%;
    padding: 0;
    width: 70%;
}
/* .modal-header{
    position: absolute;
    border-radius: calc(var(--frameHeight)*0.032);
    height: 19%;
    left: 3%;
    padding: 0;
    top: 1%;
    width: 27%;
}
.modal-header-1 {
    position: absolute;
    border: calc(var(--frameHeight)*0.015) solid #3d3d3d;
    border-top-left-radius: calc(var(--frameHeight)*0.02);
    border-top-right-radius: calc(var(--frameHeight)*0.02);
    border-bottom: none;
    height: 44%;
    top: 0;
    width: 88%;
    background-color: white;
}
.modal-header-2 {
    position: absolute;
    border: calc(var(--frameHeight)*0.015) solid #3d3d3d;
    border-bottom-left-radius: calc(var(--frameHeight)*0.02);
    border-top: none;
    border-right: none;
    height: 61%;
    bottom: -1%;
    width: 92%;
    background-color: white;
}
.modal-header-3 {
    position: absolute;
    border: calc(var(--frameHeight)*0.015) solid #3d3d3d;
    border-bottom-right-radius: calc(var(--frameHeight)*0.02);
    border-top-right-radius: calc(var(--frameHeight)*0.02);
    border-left: none;
    height: 61%;
    right: 0;
    bottom: -1%;
    width: 12%;
    background-color: white;
}
.modal-header-4 {
    position: absolute;
    border: calc(var(--frameHeight)*0.015) solid #3d3d3d;
    border-bottom-left-radius: calc(var(--frameHeight)*0.02);
    border-right: none;
    border-top: none;
    height: 9%;
    right: 3.1%;
    top: 40%;
    width: 12%;
} */
.modal-title-1 {
    position: absolute;
    color: #ED6B06;
    font-size: calc(var(--frameHeight)*0.108);
    font-weight: 900;
    left: 7%;
    line-height: calc(var(--frameHeight)*0.078);
    top: 2%;
    z-index: 1;
}
.modal-title-2 {
    position: absolute;
    color: #ED6B06;
    font-size: calc(var(--frameHeight)*0.075);
    font-weight: 500;
    left: 14%;
    line-height: calc(var(--frameHeight)*0.078);
    bottom: 13%;
    z-index: 1;
}
.modal-body {
    position: absolute;
    *background-image: url(../../../../assets/section1/general_view_lessons/modal.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    display: inline-block;
    height: 78%;
    justify-content: center;
    left: 4%;
    padding: 0;
    top: 24%;
    width: 92%;
}
.modal-body-message{
    color: #333;
    font-size: calc(var(--frameHeight)*0.05);
    justify-content: center;
    text-align: justify;
    font-family: var(--font-family-regular);
    height: auto;
    line-height: 105%;
    margin-left: 7%;
    margin-top: 5%;
    width: 66%;
}
.modal-body-luck {
    color: #333;
    font-family: var(--font-family-regular);
    font-size: calc(var(--frameHeight)*0.05);
    margin-left: 7%;
    margin-top: 4%;
    width: 66%;
}
.button_continue {
    position: absolute;
    background-color: #39a0b4;
    box-shadow: 0 calc(var(--frameHeight)*0.005) 0 calc(var(--frameHeight)*0.004) #3b3c3d;
    border-top: calc(var(--frameHeight)*0.0085) solid #3b3c3d;
    border-left: calc(var(--frameHeight)*0.0085) solid #3b3c3d;
    border-right: calc(var(--frameHeight)*0.0085) solid #3b3c3d;
    border-bottom: calc(var(--frameHeight)*0.0085) solid #3b3c3d;
    border-radius: calc(var(--frameHeight)*1);
    bottom: 14%;
    display: block;
    font-family: var(--font-family-medium);
    font-size: calc(var(--frameHeight)*0.038);
    left: 40%;
    padding: 0.5% 2%;
    transition: background-color 0.5s ease-in-out;
}
.button_continue.disabled {
    opacity: 0.4;
    pointer-events: none;
}
.button_continue:hover {
    /* -webkit-transform: scale(1.1); */
    background-color: #2a6c79;
    /* transform: scale(1.1) */
}
.button_continue:active {
    transform: translateY(3px);
    border-top: calc(var(--frameHeight)*0.007) solid #3b3c3d;
    border-left: calc(var(--frameHeight)*0.007) solid #3b3c3d;
    border-right: calc(var(--frameHeight)*0.007) solid #3b3c3d;
    border-bottom: calc(var(--frameHeight)*0.007) solid #3b3c3d;
    box-shadow: none;
}   
.button_show_modal {
    position: absolute;
    top: 45%;
    left: 2%;
    background-color: #105360;
    color: white;
    padding: 0.3%;
}

.button_close {
    position: absolute;
    background-image: url(../../../../assets/section1/buttons/equis.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: calc(var(--frameHeight)*0.05);
    left: 97%;
    top: 6%;
    transition: all 0.1s ease-in-out;
    width: calc(var(--frameHeight)*0.05);
}
.button_close.disabled {
    opacity: 0.4;
    pointer-events: none;
}
.button_close:hover {
    background-image: url(../../../../assets/section1/buttons/equis_hover.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}