<!-- Modal -->
<!-- <div class="btn btn-info button_show_modal" type="button" (click)="openModal()">Modal</div> -->
<div class="modal fade" id="modal_info" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog-advanced modal-dialog-centered">
    <div class="modal-content animated fadeInRightBig">
     <!--  <div class="modal-header">
        <div class="modal-header-1"></div>
        <div class="modal-header-2"></div>
        <div class="modal-header-3"></div>
        <div class="modal-header-4"></div>
        <div class="modal-title-1">vamos</div>
        <div class="modal-title-2">a empezar</div>
      </div> -->
      <div class="modal-body">
        <div class="modal-body-message">
          {{modalMessage}}
        </div>
        <div class="modal-body-luck">
          ¡ Mucha suerte !
        </div>
        <div class="button_continue" type="button" (click)="closeModal()">CONTINUAR</div>
        <div class="button_close" type="button" (click)="closeModal()"></div>
      </div>
    </div>
  </div>
</div>