<!-- <div id="modalMenu" *ngIf="showModalMenu">
    <div class="centerDiv">
        <div id="modalMenuContainer">
            <div class="menu_title">MENÚ</div>
            <div class="menu_module_1_info active" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()"></div>
            <div class="menu_module_2_info active" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()"></div>
            <div class="menu_module_3_info active" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()"></div>
            <div class="menu_module_4_info active" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()"></div>
            <div class="button_close" type="button" (click)="closeMenuModal()"></div>
        </div>
    </div>
</div> -->