<!-- <app-welcome></app-welcome> -->
<!-- <app-book></app-book> -->
<!-- <app-lesson1></app-lesson1> -->
<router-outlet></router-outlet>
<!-- <app-layout></app-layout> -->
<!-- <app-view1></app-view1> -->