#layoutBox {
    position: fixed;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 5;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 93% 100%, 93% 5%, 8% 5%, 8% 100%, 0 100%);
}

#layoutCenterDiv, .objectivesCenterDiv, .menuCenterDiv {
    position: absolute;
    height: var(--frameHeight);
    width: var(--frameWidth);
}

#layoutCenterDiv {
    *clip-path: polygon(0 0, 100% 0, 100% 100%, 93% 100%, 55% 3%, 8% 3%, 8% 100%, 0 100%);
}

/*******   Caja Menu lateral izquierdo   *******/
.post_menu {
    position: absolute;
    background: url(../../assets/section1/menu/post.png) no-repeat;
    background-size: 100% 100%;
    width: 7%;
    height: 47%;
    bottom: 0.3%;
    *background-color: #9008;
    display: flex;
    justify-content: center;
}
.post_menu .button{
    position: absolute;
    height: calc(var(--frameHeight)*0.065);
    left: 44%;
    width: calc(var(--frameHeight)*0.065);
    box-shadow: 0 calc(var(--frameHeight)*0.005) 0 calc(var(--frameHeight)*0.0025) #3b3c3d;
    border-top: calc(var(--frameHeight)*0.005) solid #3b3c3d;
    border-left: calc(var(--frameHeight)*0.005) solid #3b3c3d;
    border-right: calc(var(--frameHeight)*0.005) solid #3b3c3d;
    border-bottom: calc(var(--frameHeight)*0.005) solid #3b3c3d;
    border-radius: 50%;
    cursor: pointer;
}
.post_menu .button:active {
    transform: translateY(3px);
    border-top: 2px solid #3b3c3d;
    border-left: 2px solid #3b3c3d;
    border-right: 2px solid #3b3c3d;
    border-bottom: 2px solid #3b3c3d;
    box-shadow: none;
}
.post_menu .button.button_menu {
    background: url(../../assets/section1/menu/menu.png) no-repeat;
    background-size: 100% 100%;
    top: 11%;
}
.post_menu .button.button_menu:hover{
    background: url(../../assets/section1/menu/menu_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 11%;
}
.post_menu .button.button_objectives {
    background: url(../../assets/section1/menu/objetives.png) no-repeat;
    background-size: 100% 100%;
    top: 32%;
}
.post_menu .button.button_objectives:hover {
    background: url(../../assets/section1/menu/objetives_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 32%;
}
.post_menu .button.button_sound.active {
    background: url(../../assets/section1/menu/sound.png) no-repeat;
    background-size: 100% 100%;
    top: 53%;
}
.post_menu .button.button_sound.active:hover {
    background: url(../../assets/section1/menu/sound_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 53%;
}
.post_menu .button.button_sound.inactive{
    background: url(../../assets/section1/menu/sound_off_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 53%;
}
.post_menu .button.button_profile {
    background: url(../../assets/section1/menu/profile.png) no-repeat;
    background-size: 100% 100%;
    top: 74.2%;
}
.post_menu .button.button_profile:hover {
    background: url(../../assets/section1/menu/profile_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 74.2%;
}


/*******   Caja Menu lateral derecho   *******/
.post_progress {
    position: absolute;
    background: url(../../assets/section1/general_view_lessons/post_progress.png) no-repeat;
    background-size: 100% 100%;
    bottom: -0.5%;
    display: flex;
    height: 49.2%;
    justify-content: center;
    right: -0.2%;
    width: 7%;
}
.post_progress .pipe_progress {
    position: absolute;
    background-color: #198195;
    border: calc(var(--frameHeight)*0.008) solid #3b3c3ddd;
    border-radius: calc(var(--frameHeight)*0.26);
    height: 81%;
    left: 16%;
    overflow: hidden;
    top: 9%;
    width: 40%;
}
.post_progress .pipe_progress .current_progress {
    position: absolute;
    background-color: #F79D01;
    border-right: 5px solid #E26723;
    height: 0%;
    width: 100%;
    bottom: 0;
}


/*******   Modal Menu   *******/
#modalMenu {
    position: fixed;
    align-items: center;
    background-color: #000a;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99;
}
.menuCenterDiv, .objectivesCenterDiv, .profileCenterDiv {
    position: absolute;
    height: var(--frameHeight);
    width: var(--frameWidth);
}
.menu.inactive, 
.button_menu.inactive,
.button_objectives.inactive,
.button_profile.inactive
{
    pointer-events: none;
}
#modalMenuContainer {
    position: absolute;
    background: url(../../assets/section1/menu/buttonsMenuDeploy/fondo_menu_desplegable.png)
    no-repeat;
    background-size: 100% 100%;
    height: calc(var(--frameHeight)*0.8);
    left: 26%;
    top: 11%;
    width: calc(var(--frameHeight)*1);
}
#modalMenuContainer .menu_title {
    position: absolute;
    color: #198195;
    font-family: var(--font-family-light);
    font-size: calc(var(--frameHeight)*0.1);
    left: 12%;
    top: 2%;
}
#modalMenuContainer a {
    position: absolute;
    height: 100%;
    width: 100%;
}
#modalMenuContainer .menu_module_1_info {
    position: absolute;
    height: calc(var(--frameHeight)*0.16);
    left: 32.5%;
    top: 18%;
    width: calc(var(--frameHeight)*0.33);
    transition: all 0.3s ease-in-out;
}
#modalMenuContainer .menu_module_1_info.active {
    background: url(../../assets/section1/menu/buttonsMenuDeploy/Mod1_activado.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
#modalMenuContainer .menu_module_1_info.inactive{
    background: url(../../assets/section1/menu/buttonsMenuDeploy/Mod1_desactivado.png) no-repeat;
    background-size: 100% 100%;
}
#modalMenuContainer .menu_module_1_info.active:hover {
    background: url(../../assets/section1/menu/buttonsMenuDeploy/Mod1_hover.png) no-repeat;
    background-size: 100% 100%;
    transform: scale(1.1) translate(calc(var(--frameHeight)*0.01), calc(var(--frameHeight)*0.023));
}

#modalMenuContainer .menu_module_2_info {
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 89% 100%, 89% 72%, 0% 72%);
    height: calc(var(--frameHeight)*0.15);
    left: 36.2%;
    top: 40%;
    width: calc(var(--frameHeight)*0.21);
    transition: all 0.3s ease-in-out;
    z-index: 1;
}
#modalMenuContainer .menu_module_2_info.active {
    background: url(../../assets/section1/menu/buttonsMenuDeploy/Mod2_activado.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
#modalMenuContainer .menu_module_2_info.inactive{
    background: url(../../assets/section1/menu/buttonsMenuDeploy/Mod2_desactivado.png) no-repeat;
    background-size: 100% 100%;
}
#modalMenuContainer .menu_module_2_info.active:hover {
    background: url(../../assets/section1/menu/buttonsMenuDeploy/Mod2_hover.png) no-repeat;
    background-size: 100% 100%;
    transform: scale(1.05) translate(calc(var(--frameHeight)*0), calc(var(--frameHeight)*0.023));
}

#modalMenuContainer .menu_module_3_info {
    position: absolute;
    height: calc(var(--frameHeight)*0.13);
    left: 24.2%;
    top: 54%;
    width: calc(var(--frameHeight)*0.21);
    transition: all 0.3s ease-in-out;
}
#modalMenuContainer .menu_module_3_info.active {
    background: url(../../assets/section1/menu/buttonsMenuDeploy/Mod3_activado.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
#modalMenuContainer .menu_module_3_info.inactive{
    background: url(../../assets/section1/menu/buttonsMenuDeploy/Mod3_desactivado.png) no-repeat;
    background-size: 100% 100%;
}
#modalMenuContainer .menu_module_3_info.active:hover {
    background: url(../../assets/section1/menu/buttonsMenuDeploy/Mod3_hover.png) no-repeat;
    background-size: 100% 100%;
    transform: scale(1.1) translate(calc(var(--frameHeight)*0.01), calc(var(--frameHeight)*0.023));
}

#modalMenuContainer .menu_module_4_info {
    position: absolute;
    height: calc(var(--frameHeight)*0.16);
    left: 29.6%;
    top: 78.5%;
    width: calc(var(--frameHeight)*0.28);
    transition: all 0.3s ease-in-out;
}
#modalMenuContainer .menu_module_4_info.active {
    background: url(../../assets/section1/menu/buttonsMenuDeploy/Mod4_activado.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
#modalMenuContainer .menu_module_4_info.inactive{
    background: url(../../assets/section1/menu/buttonsMenuDeploy/Mod4_desactivado.png) no-repeat;
    background-size: 100% 100%;
}
#modalMenuContainer .menu_module_4_info.active:hover {
    background: url(../../assets/section1/menu/buttonsMenuDeploy/Mod4_hover.png) no-repeat;
    background-size: 100% 100%;
    transform: scale(1.1) translate(calc(var(--frameHeight)*-0.01), calc(var(--frameHeight)*-0.005));
}

.button_close {
    position: absolute;
    background-image: url(../../assets/section1/buttons/equis.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: calc(var(--frameHeight)*0.05);
    left: 84%;
    top: 6%;
    transition: all 0.1s ease-in-out;
    width: calc(var(--frameHeight)*0.05);
}
.button_close:hover {
    background-image: url(../../assets/section1/buttons/equis_hover.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*****  Objetivos  *****/
#modalObjectives {
    position: fixed;
    align-items: center;
    background-color: #000a;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99;
}
.objectives {
    position: absolute;
    background: url(../../assets/section1/menu/buttonsMenuDeploy/fondo_menu_desplegable.png) no-repeat;
    background-size: 100% 100%;
    height: calc(var(--frameHeight)*0.8);
    left: 26%;
    top: 11%;
    width: calc(var(--frameHeight)*1);
}
.button_close_objectives {
    left: 64.5%;
    top: 15%;
}

/*****  Perfil  *****/
#modalProfile {
    position: fixed;
    align-items: center;
    background-color: #000a;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99;
}
#modalProfileContainer {
    position: absolute;
    background-color: #ffffff;
    border: calc(var(--frameHeight)*0.012) solid #323131;
    border-radius: calc(var(--frameHeight)*0.03);
    bottom: 0.5%;
    display: block;
    height: calc(var(--frameHeight)*0.25);
    left: 7.5%;
    width: calc(var(--frameHeight)*0.4);
}
.profile_box_my_profile, 
.profile_box_return_home, 
.profile_box_close_session {
    height: 33%;
    padding-left: calc(var(--frameHeight)*0.012);
    width: 100%;
}
.button_my_profile, 
.button_return_home, 
.button_close_session {
    height: 100%;
    align-items: center;
    color: #156270;
    display: flex;
    font-size: calc(var(--frameHeight)*0.035);
    font-family: var(--font-family-bold);
    gap: calc(var(--frameHeight)*0.013);
    letter-spacing: calc(var(--frameHeight)*0.001);
    width: 100%;
}
.button_my_profile:hover, 
.button_return_home:hover, 
.button_close_session:hover {
    color: #ED6B06;
    cursor: pointer;
}
.button_my_profile .icon, 
.button_return_home .icon, 
.button_close_session .icon{
    height: calc(var(--frameHeight)*0.03);
    width: calc(var(--frameHeight)*0.03);
}
.button_my_profile .icon.icon_my_profile {
    background: url(../../assets/section1/menu/buttonsProfile/button_my_profile.png) no-repeat;
    background-size: 100% 100%;
}
.button_return_home .icon.icon_return_home {
    background: url(../../assets/section1/menu/buttonsProfile/button_back.png) no-repeat;
    background-size: 100% 100%;
}
.button_close_session .icon.icon_close_session {
    background: url(../../assets/section1/menu/buttonsProfile/button_close_session.png) no-repeat;
    background-size: 100% 100%;
}

.button_close_profile {
    height: calc(var(--frameHeight)*0.03);
    left: 87.5%;
    top: 7%;
    width: calc(var(--frameHeight)*0.03);
}