<div id="layoutBox"  *ngIf="showLayout">
    <div id="layoutCenterDiv">
        <div class="post_menu">
            <div class="button button_menu" (click)="btnPostMainMenu()"  (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()"></div>
            <div class="button button_objectives" (click)="btnObjectives()" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()"></div>
            <div class="button button_sound" (click)="btnSound()" [ngClass]="stateSoundMenu" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()"></div>
            <div class="button button_profile" (click)="btnProfile()" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()"></div>
        </div>

        <div class="post_progress">
            <div class="pipe_progress">
                <div class="current_progress" id="current_progress"></div>
            </div>
        </div>
    </div> 

</div>

<div id="modalMenu" *ngIf="showModalMenu">
    <div class="menuCenterDiv">
        <div id="modalMenuContainer">
            <div class="menu_title">MENÚ</div>
            <div class="menu menu_module_1_info" [ngClass]="lesson1Available" (click)="btnModule(1)" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()">
                 <!-- <a *ngIf="lesson1Available=='active'" [routerLink]="['/section1/lesson1']"></a> -->
            </div>
            <div class="menu menu_module_2_info" [ngClass]="lesson2Available" (click)="btnModule(2)" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()">
                 <!-- <a *ngIf="lesson2Available=='active'" [routerLink]="['/section1/lesson2']"></a> -->
            </div>
            <div class="menu menu_module_3_info" [ngClass]="lesson3Available" (click)="btnModule(3)" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()">
                 <!-- <a *ngIf="lesson3Available=='active'" [routerLink]="['/section1/lesson3']"></a> -->
            </div>
            <div class="menu menu_module_4_info" [ngClass]="lesson4Available" (click)="btnModule(4)" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()">
                 <!-- <a *ngIf="lesson4Available=='active'" [routerLink]="['/section1/lesson4']"></a> -->
            </div>
            <div class="button_close button_close_menu" type="button" (click)="closeMenuModal()"></div>
        </div>
    </div>
</div>

<div id="modalObjectives" *ngIf="showModalObjectives">
    <div class="objectivesCenterDiv">
        <div class="objectives"></div>
        <div class="button_close button_close_objectives" type="button" (click)="closeObjectivesModal()" ></div>
        <!-- (click)="closeObjectivesModal()" -->
    </div>
</div>
<!-- <app-menu #menuId></app-menu> -->

<div id="modalProfile" *ngIf="showModalProfile">
    <div class="profileCenterDiv">
        <div id="modalProfileContainer">
            <div class="profile_box_my_profile">
                <div class="button_my_profile" (click)="btnMyProfile()" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()">
                    <div class="icon icon_my_profile"></div>
                    <div class="text">Mi Perfil</div>
                </div>
            </div>
            <div class="profile_box_return_home">
                <div class="button_return_home" (click)="btnReturnHome()" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()">
                    <div class="icon icon_return_home"></div>
                    <div class="text">Regresar al inicio</div>
                    <a ></a>
                </div>
            </div>
            <div class="profile_box_close_session">
                <div class="button_close_session" (click)="btnCloseSession()" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()">
                    <div class="icon icon_close_session"></div>
                    <div class="text">Cerrar Sesión</div>
                </div>
            </div>
            <div class="button_close button_close_profile" type="button" (click)="closeProfileModal()"></div>
        </div>
    </div>
</div>