<div class="fondo"></div>

<div > 
    <div type="button" class="iniciar" (click)="startCourse()">
        INICIAR
    </div>
    <!-- <a ng-click="startCourse()" [routerLink]="['/section1']"></a> -->
    <!-- <button (click)="buttonClick()" type="button" class="iniciar" (mouseover)="hoverButton()">Iniciar</button> -->
<div>
