.fondo{
    position: absolute;
    background: url(../../assets/section1/city/home.png) no-repeat;  
    background-size: 100% 100%;
    width: 100%;
    height:100%;   
}

.iniciar{
    position: absolute;
    background: #1995AD;
    cursor: pointer; 
    border-radius: calc(var(--frameHeight)*0.1); 
    border-bottom: calc(var(--frameHeight)*0.01) solid #3b3c3d;
    border-left: calc(var(--frameHeight)*0.01) solid #3b3c3d;
    border-right: calc(var(--frameHeight)*0.01) solid #3b3c3d;
    border-top: calc(var(--frameHeight)*0.01) solid #3b3c3d;
    box-shadow: 0 calc(var(--frameHeight)*0.005) 0 calc(var(--frameHeight)*0.005) #3b3c3d;
    font-family: var(--font-family-bold);
    font-size: calc(var(--frameHeight)*0.05);
    font-weight: 900;
    height: calc(var(--frameHeight)*0.1);
    left: 43%;
    outline: none;
    top: 86%;
    color: #fff;
    z-index: 3;
    width: calc(var(--frameHeight)*0.28);
    display: grid;
    justify-content: center;
    align-items: center;
}

.iniciar:hover {
    background-color: #198195
}

.iniciar:active {
    background-color: #198195;
    transform: translateY(3px);
    border-top: calc(var(--frameHeight)*0.01) solid #3b3c3d;
    border-left: calc(var(--frameHeight)*0.01) solid #3b3c3d;
    border-right: calc(var(--frameHeight)*0.01) solid #3b3c3d;
    border-bottom: calc(var(--frameHeight)*0.01) solid #3b3c3d;
    box-shadow: none;
}
.iniciar a{
    position: absolute;
    display: block;
    height: inherit;
    width: inherit;
}