<div class="S1L1V4_container">
    <div class="box_text">
        <div class="title_text">
            <div class="title_text1">ESTATUTOS REGULATORIOS</div>
            <div class="title_text2">DE LOS BIENES NACIONALES DE USO PÚBLICO</div>
        </div>
        <div class="paragraph">
            Los Bienes Nacionales de uso público, están bajo el control del Ministerio de Bienes Nacionales,
            es el encargado de formular, coordinar y supervisar la política nacional en materia de bienes 
            nacionales de uso público, sin perjuicio de las potestades de administración de dichos bienes que
            según su naturaleza y fines recaigan sobre otros organismos del Estado. <br><br>

            A continuación, detallaremos los estatutos y entes reguladores de los bienes nacionales de uso público 
            en Chile que son:
        </div>
        <div type="button" class="btnDetails"  (click)="viewDetails()"></div>
    </div>
    <div class="box_text2">
        <div class="li li1 animated fadeInDownBig">° La Constitución Política de la República</div>
        <div class="li li2 animated fadeInDownBig">° La Ley N° 19.300 sobre Bases Generales del Medio Ambiente</div>
        <div class="li li3 animated fadeInDownBig">° La Ley N° 17.288 de Monumentos Nacionales</div>
        <div class="li li4 animated fadeInDownBig">° La Ley N° 20.240 de Accesibilidad Universal</div>
        <div class="li li5 animated fadeInDownBig">° El Servicio de Bienes Nacionales</div>
        <div class="li li6 animated fadeInDownBig">° El Ministerio de Bienes Nacionales</div>

    </div>
</div>