/*******   Caja principal con el contenido de las lecciones   *******/
.S1L1V4_container {
    position: absolute;
    border: calc(var(--frameHeight)*0.012) solid #484849;
    background-color: #fff;
    border-radius: 20px;
    height: 73%;
    left: 8.5%;
    overflow: hidden;
    top: 18%;
    width: 83%;
}


/*******   Caja central textos   *******/
.S1L1V4_container .box_text {
    position: absolute;
    font-family: var(--font-family-light);
    font-size: (var(--frameHeight)*0.012);
    height: 90%;
    right: 50%;
    top: calc(var(--frameHeight)*0.04);
    width: 49%;
}
.S1L1V4_container .box_text .title_text {
    width: 100%;
    color: #ED6B06;
    display: block;
}
.S1L1V4_container .box_text .title_text .title_text1{
    font-family: var(--font-family-light);
    font-size: calc(var(--frameHeight)*0.068);
    font-weight: normal;
    text-align: center;
    margin-bottom: calc(var(--frameHeight)*-0.02);
    width: 100%;
}
.S1L1V4_container .box_text .title_text .title_text2{
    font-family: var(--font-family-bold);
    font-size: calc(var(--frameHeight)*0.03);
    font-weight: bolder;
    line-height: 95%;
    text-align: center;
    width: 100%;
    margin-top: 2%;
}
.S1L1V4_container .box_text .paragraph {
    *position: absolute;
    *height: -webkit-fill-available;
    color: #484849;
    font-family: var(--font-family-medium);
    font-size: calc(var(--frameHeight)*0.024);
    line-height: 125%;
    overflow-y: auto;
    margin: 0 auto;
    padding-top: calc(var(--frameHeight)*0.04);
    text-align: justify;
    width: 78%;
}
.S1L1V4_container .box_text .paragraph {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.S1L1V4_container .box_text .paragraph::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.S1L1V4_container .box_text .btnDetails {
    background: url(../../../../assets/section1/lesson1/view4/flecha_texto.png) no-repeat;
    background-size: 100% 100%;
    height: calc(var(--frameHeight)*0.04);
    width: calc(var(--frameHeight)*0.03);
    position: absolute;
    top: 77%;
    left: 39%;
    width: 12%;
    height: 16%;
}
.S1L1V4_container .box_text .btnDetails:hover {
    background: url(../../../../assets/section1/lesson1/view4/hover_flecha_texto.png) no-repeat;
    background-size: 100% 100%;
}

/*******   Caja slider imagenes   *******/
.box_text2 {
    position: absolute;
    height: 100%;
    left: 49%;
    width: 50%;
    top: 25%;
}
.box_text2 .li{
    font-size: calc(var(--frameHeight)*0.024);
    margin-top: 2%;
    display: none;
}

/*******   Animación de llegada vista   *******/
.fadeInDownBig {
    -webkit-animation-name: fadeInDownBig;
    animation-name: fadeInDownBig;
  }
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }