<div class="background">
    <div class="bganimation animated fadeInRightBig">
        <div class="title_container">
            <div class="title">MÓDULO 1</div>
            <div class="sub_title">CONSIDERACIONES GENERALES BNUP</div>
        </div>
        <div class="pipeline_vertical"></div>
        <div class="pipeline_horizontal">
            <div class="advance_box">
                <div type="button" class="pag_left" (click)="changeView('prev')"></div>
                <div type="button" class="point point1 point_current" (click)="changeView(1)"></div>
                <div type="button" class="point point2" (click)="changeView(2)"> </div>
                <div type="button" class="point point3" (click)="changeView(3)"></div>
                <div type="button" class="point point4" (click)="changeView(4)"></div>
                <div type="button" class="point point5" (click)="changeView(5)"></div>
                <div type="button" class="pag_right" (click)="changeView('next')"></div>
            </div>
        </div>
        <div class="houses"></div>

        <!-- Vista 1 -->
        <app-S1L1V1 #view1Id (isClicked)="changeAudioCharacterView('view1', $event)"></app-S1L1V1>

        <!-- Vista 2 -->
        <app-S1L1V2 #view2Id></app-S1L1V2>

        <!-- Vista 3 -->
        <app-S1L1V3 #view3Id (isClicked)="changeAudioCharacterView('view3', $event)"></app-S1L1V3>

        <!-- Vista 4 -->
        <app-S1L1V4 #view4Id (isClicked)="changeAudioCharacterView('view4', $event)"></app-S1L1V4>

        <!-- Vista 5 -->
        <app-S1L1V5 #view5Id></app-S1L1V5>
        
        <app-character #characterId></app-character>
    </div>
</div>

<app-layout class="layout1"></app-layout>


<!-- Modal -->
<app-modal (isClicked)="closeModal($event)" #modalId [modalMessage]="modalMessage"></app-modal>

<!-- <div class="box_character">
        <div class="character">
            <div class="mouth close"></div>
        </div>
        <div class="btns_character">
            <div type="button" class="button button_character_play" [ngClass]="stateCharacterPlay"
                (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()" (click)="btnCharacterPlay()"></div>
            <div type="button" class="button button_character_sound" [ngClass]="stateCharacterSound"
                (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()" (click)="btnCharacterSound()"></div>
        </div>
        <div class="message_box_character">
        </div>
    </div> -->


<!-- <div class="btn btn-info button_show_modal" type="button" (click)="openModal()">Modal</div> -->
<!-- <div class="modal fade" id="modal_info" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog-advanced modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-header-1"></div>
                    <div class="modal-header-2"></div>
                    <div class="modal-header-3"></div>
                    <div class="modal-header-4"></div>
                    <div class="modal-title-1">vamos</div>
                    <div class="modal-title-2">a empezar</div>
                </div>
                <div class="modal-body">
                    <div class="modal-body-message">
                        {{modalMessage}}
                    </div>
                    <div class="modal-body-luck">
                        ¡ Mucha suerte !
                    </div>
                    <div class="button_continue" type="button" (click)="closeModal()">CONTINUAR</div>
     -->
<!--  [ngClass]="enableButtonModal ? 'enabled' : 'disabled'" -->
<!-- <button class="volver" id="p1" (click)="closeModal()" [disabled]="!enableButtonModal">{{boton}}</button> -->
<!-- <button style="display: none;" class="volver" id="p2" (click)="close2()">{{boton}}</button> -->
<!--             </div>
            </div>
        </div>
    </div> -->



<!-- Posible Modal 
<div>
    <app-modal #modal [isShown]="isShown" [title]="titulo" [parrafo]="parrafo" [mensaje]="msn" [boton]="boton"
      (closeNotification)="throwTooltipsLadder()">
    </app-modal>
</div> -->

<!-- Posible Modal
 <div id="contentModalCharacter" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div id="bodyModalCharacter" class="modal-dialog modal-lg" role="document">
        <div id="containerVideoClipCharacter">
            <div id="characterImage" class="backgroundSimple hidden">
                //aquí se agregara el icono automaticamnete

                //<div id="openMouthCharacter" class="backgroundSimple hidden"></div>
                <div id="closedMouthCharacter" class="backgroundSimple">

                </div>
                <div id="titleBoxCharacter" class="backgroundSimple">
                    //aquí va el titulo agregado automaticamente
                </div>
                <div id="messageBoxCharacter" class="backgroundSimple">

                    //Aqui estarán los mensajes que se agregarán automaticamente
                </div>

                <div id="characterImage" class="backgroundSimple hidden">
                        <div id="openMouthCharacter" class="backgroundSimple hidden"></div>
                        <div id="closedMouthCharacter" class="backgroundSimple"></div>
            </div>
        </div>
    </div>
</div> 
-->