.background {
    position: absolute;
    background: url(../../../assets/section1/general_view_lessons/fondo_contenido.png) no-repeat;  
    background-size: 100% 100%;
    width: 100%;
    height:100%;  
    top: 0%;
}
.bganimation {
    position: absolute;
    background-size: 100% 100%;
    width: 100%;
    height:100%;  
    top: 0%;
    z-index: 3;
}

/*******   Animación de llegada vista   *******/
.fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig;
  }
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  /*******   Animación de salida de vista   *******/

  .fadeOutLeftBig {
    -webkit-animation-name: fadeOutLeftBig;
    animation-name: fadeOutLeftBig;
  }

/*******   Caja titulo   *******/
.title_container {
    position: absolute;
    border: calc(var(--frameHeight)*0.012) solid #484849;
    background-color: #fff;
    border-radius: calc(var(--frameHeight)*0.022);
    height: 11%;
    left: 5%;
    top: 4%;
    padding: 0% 1% 0% 0.5%;
    color: #198195;
    z-index: 1;
    display: grid;
    align-items: center;
}
div.title {
    font-size: calc(var(--frameHeight)*0.03);
    margin-bottom: calc(var(--frameHeight)*-0.018);
    font-family: var(--font-family-light);
    font-weight: 600;
}
div.sub_title {
    font-size: calc(var(--frameHeight)*0.035);
    font-family: var(--font-family-black);
}


/*******   Caja Menu lateral izquierdo   *******/
.post_menu {
    position: absolute;
    background: url(../../../assets/section1/menu/post.png) no-repeat;
    background-size: 100% 100%;
    width: 7%;
    height: 47%;
    bottom: 0.3%;
    *background-color: #9008;
    display: flex;
    justify-content: center;
}
.post_menu .button{
    position: absolute;
    height: calc(var(--frameHeight)*0.065);
    left: 44%;
    width: calc(var(--frameHeight)*0.065);
    box-shadow: 0 calc(var(--frameHeight)*0.005) 0 calc(var(--frameHeight)*0.0025) #3b3c3d;
    border-top: calc(var(--frameHeight)*0.005) solid #3b3c3d;
    border-left: calc(var(--frameHeight)*0.005) solid #3b3c3d;
    border-right: calc(var(--frameHeight)*0.005) solid #3b3c3d;
    border-bottom: calc(var(--frameHeight)*0.005) solid #3b3c3d;
    border-radius: 50%;
    cursor: pointer;
}
.post_menu .button:active {
    transform: translateY(3px);
    border-top: 2px solid #3b3c3d;
    border-left: 2px solid #3b3c3d;
    border-right: 2px solid #3b3c3d;
    border-bottom: 2px solid #3b3c3d;
    box-shadow: none;
}
.post_menu .button.button_menu {
    background: url(../../../assets/section1/menu/menu.png) no-repeat;
    background-size: 100% 100%;
    top: 11%;
}
.post_menu .button.button_menu:hover{
    background: url(../../../assets/section1/menu/menu_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 11%;
}
.post_menu .button.button_objectives {
    background: url(../../../assets/section1/menu/objetives.png) no-repeat;
    background-size: 100% 100%;
    top: 32%;
}
.post_menu .button.button_objectives:hover {
    background: url(../../../assets/section1/menu/objetives_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 32%;
}
.post_menu .button.button_sound.active {
    background: url(../../../assets/section1/menu/sound.png) no-repeat;
    background-size: 100% 100%;
    top: 53%;
}
.post_menu .button.button_sound.active:hover {
    background: url(../../../assets/section1/menu/sound_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 53%;
}
.post_menu .button.button_sound.inactive{
    background: url(../../../assets/section1/menu/sound_off_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 53%;
}
.post_menu .button.button_profile {
    background: url(../../../assets/section1/menu/profile.png) no-repeat;
    background-size: 100% 100%;
    top: 74.2%;
}
.post_menu .button.button_profile:hover {
    background: url(../../../assets/section1/menu/profile_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 74.2%;
}


/*******   Caja Menu lateral derecho   *******/
.post_progress {
    position: absolute;
    background: url(../../../assets/section1/general_view_lessons/post_progress.png) no-repeat;
    background-size: 100% 100%;
    bottom: -0.5%;
    display: flex;
    height: 49.2%;
    justify-content: center;
    right: -0.2%;
    width: 7%;
}
.post_progress .pipe_progress {
    position: absolute;
    background-color: #198195;
    border: calc(var(--frameHeight)*0.008) solid #3b3c3ddd;
    border-radius: calc(var(--frameHeight)*0.26);
    height: 81%;
    left: 16%;
    overflow: hidden;
    top: 9%;
    width: 40%;
}
.post_progress .pipe_progress .current_progress {
    position: absolute;
    background-color: #F79D01;
    border-right: 5px solid #E26723;
    height: 50%;
    width: 100%;
    bottom: 0;
}


/*******   Diferentes elementos de la vista   *******/
.pipeline_vertical {
    position: absolute;
    background: url(../../../assets/section1/general_view_lessons/pipeline_vertical.png) no-repeat;  
    background-size: 100% 100%;
    width: 6%;
    height: 37%;
    top: 8%;
    left: 3%;
}

.pipeline_horizontal {
    position: absolute;
    background: url(../../../assets/section1/general_view_lessons/pipeline_horizontal.png) no-repeat;  
    background-size: 100% 100%;
    width: 71.5%;
    height: 34%;
    top: 66%;
    left: 13%;
}

.houses {
    position: absolute;
    background: url(../../../assets/section1/general_view_lessons/houses.png) no-repeat;  
    background-size: 100% 100%;
    height: 18%;
    right: 0;
    width: 34%;
}




/*******   Caja cambio de vistas   *******/
.advance_box {
    height: 16%;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(var(--frameHeight)*0.26);
    padding: 0% 1%;
    top: 76%;
    width: 34%;
    width: min-content;
    display: flex;
    align-items: center;
    gap: calc(var(--frameHeight)*0.018);
}

.pag_left {
    background: url(../../../assets/section1/buttons/pag_left.png) no-repeat;
    background-size: 100% 100%;
    height: calc(var(--frameHeight)*0.05);
    width: calc(var(--frameHeight)*0.05);
}
.pag_left:hover {
    background: url(../../../assets/section1/buttons/pag_left_hover.png) no-repeat;
    background-size: 100% 100%;
}
.pag_right {
    background: url(../../../assets/section1/buttons/pag_right.png) no-repeat;
    background-size: 100% 100%;
    height: calc(var(--frameHeight)*0.05);
    width: calc(var(--frameHeight)*0.05);
}
.pag_right:hover {
    background: url(../../../assets/section1/buttons/pag_right_hover.png) no-repeat;
    background-size: 100% 100%;
}
.point {
    background: url(../../../assets/section1/buttons/point.png) no-repeat;
    background-size: 100% 100%;
    height: calc(var(--frameHeight)*0.015);
    width: calc(var(--frameHeight)*0.015);
}
.point.point_current {
    background: url(../../../assets/section1/buttons/point_hover.png) no-repeat;
    background-size: 100% 100%;
}
.point:hover {
    background: url(../../../assets/section1/buttons/point_hover.png) no-repeat;
    background-size: 100% 100%;
}
.point a{
    display: block;
    height: inherit;
    width: inherit;
}



.button_menu a{
    display: block;
    height: inherit;
    width: inherit;
}