/*******   Modal Menu   *******/
#modalMenu {
    position: fixed;
    align-items: center;
    background-color: #000a;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99;
}
.centerDiv {
    position: absolute;
    height: var(--frameHeight);
    width: var(--frameWidth);
}
#modalMenuContainer {
    position: absolute;
    background: url(../../../../assets/section1/menu/buttonsMenuDeploy/fondo_menu_desplegable.png)
    no-repeat;
    background-size: 100% 100%;
    height: calc(var(--frameHeight)*0.8);
    left: 26%;
    top: 11%;
    width: calc(var(--frameHeight)*1);
}
#modalMenuContainer .menu_title {
    position: absolute;
    color: #198195;
    font-family: var(--font-family-light);
    font-size: calc(var(--frameHeight)*0.1);
    left: 12%;
    top: 2%;
}
#modalMenuContainer .menu_module_1_info.active {
    position: absolute;
    background: url(../../../../assets/section1/menu/buttonsMenuDeploy/Mod1_activado.png) no-repeat;
    background-size: 100% 100%;
    height: calc(var(--frameHeight)*0.16);
    left: 32.5%;
    top: 18%;
    width: calc(var(--frameHeight)*0.33);
    transition: all 0.3s ease-in-out;
}
#modalMenuContainer .menu_module_1_info.inactive{
    background: url(../../../../assets/section1/menu/buttonsMenuDeploy/Mod1_desactivado.png) no-repeat;
    background-size: 100% 100%;
}
#modalMenuContainer .menu_module_1_info:hover {
    background: url(../../../../assets/section1/menu/buttonsMenuDeploy/Mod1_hover.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    transform: scale(1.1) translate(calc(var(--frameHeight)*0.01), calc(var(--frameHeight)*0.023));
}
#modalMenuContainer .menu_module_2_info.active {
    position: absolute;
    background: url(../../../../assets/section1/menu/buttonsMenuDeploy/Mod2_activado.png) no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 89% 100%, 89% 72%, 0% 72%);
    height: calc(var(--frameHeight)*0.15);
    left: 36.2%;
    top: 40%;
    width: calc(var(--frameHeight)*0.21);
    transition: all 0.3s ease-in-out;
    z-index: 1;
}
#modalMenuContainer .menu_module_2_info.inactive{
    background: url(../../../../assets/section1/menu/buttonsMenuDeploy/Mod2_desactivado.png) no-repeat;
    background-size: 100% 100%;
}
#modalMenuContainer .menu_module_2_info:hover {
    background: url(../../../../assets/section1/menu/buttonsMenuDeploy/Mod2_hover.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    transform: scale(1.05) translate(calc(var(--frameHeight)*0), calc(var(--frameHeight)*0.023));
}
#modalMenuContainer .menu_module_3_info.active {
    position: absolute;
    background: url(../../../../assets/section1/menu/buttonsMenuDeploy/Mod3_activado.png) no-repeat;
    background-size: 100% 100%;
    height: calc(var(--frameHeight)*0.13);
    left: 24.2%;
    top: 54%;
    width: calc(var(--frameHeight)*0.21);
    transition: all 0.3s ease-in-out;
}
#modalMenuContainer .menu_module_3_info.inactive{
    background: url(../../../../assets/section1/menu/buttonsMenuDeploy/Mod3_desactivado.png) no-repeat;
    background-size: 100% 100%;
}
#modalMenuContainer .menu_module_3_info:hover {
    background: url(../../../../assets/section1/menu/buttonsMenuDeploy/Mod3_hover.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    transform: scale(1.1) translate(calc(var(--frameHeight)*0.01), calc(var(--frameHeight)*0.023));
}
#modalMenuContainer .menu_module_4_info.active {
    position: absolute;
    background: url(../../../../assets/section1/menu/buttonsMenuDeploy/Mod4_activado.png) no-repeat;
    background-size: 100% 100%;
    height: calc(var(--frameHeight)*0.16);
    left: 29.6%;
    top: 78.5%;
    width: calc(var(--frameHeight)*0.28);
    transition: all 0.3s ease-in-out;
}
#modalMenuContainer .menu_module_4_info.inactive{
    background: url(../../../../assets/section1/menu/buttonsMenuDeploy/Mod4_desactivado.png) no-repeat;
    background-size: 100% 100%;
}
#modalMenuContainer .menu_module_4_info:hover {
    background: url(../../../../assets/section1/menu/buttonsMenuDeploy/Mod4_hover.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    transform: scale(1.1) translate(calc(var(--frameHeight)*-0.01), calc(var(--frameHeight)*-0.005));
}
.button_close {
    position: absolute;
    background-image: url(../../../../assets/section1/buttons/equis.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: calc(var(--frameHeight)*0.05);
    left: 84%;
    top: 6%;
    transition: all 0.1s ease-in-out;
    width: calc(var(--frameHeight)*0.05);
}
.button_close:hover {
    background-image: url(../../../../assets/section1/buttons/equis_hover.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}