@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

/* .instruction, .book {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #15b;
} */

/* body {
  width: 100%;
  height: 100vh;
  min-width: 900px;
  min-height: 700px;
  background: #fbecb4;
  position: relative;
} */
.divisor {
  position: absolute;
  background-color: #3a9acebb;
  height: 100%;
  left: 50%;
  top: 0;
  width: calc(var(--frameHeight)*0.0002);
}
.border_book {
  position: absolute;
  border: calc(var(--frameHeight)*0.01) solid #3a9ace;
  border-radius: calc(var(--frameHeight)*0.02);
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  width: 65%;
}
.book {
  position: absolute;
  border: calc(var(--frameHeight)*0.012) solid #3a9ace;
  border-radius: calc(var(--frameHeight)*0.02);
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  width: 65%;
  /* transform: translate(-50%, -50%); */
}

div.border_gray_left {
  position: absolute;
  border-radius: calc(var(--frameHeight)*0.012);
  border-left: calc(var(--frameHeight)*0.03) solid #d6d6d6;
  height: 100%;
  left: 0%;
}
div.border_gray_right {
  position: absolute;
  border-radius: calc(var(--frameHeight)*0.012);
  border-right: calc(var(--frameHeight)*0.03) solid #d6d6d6;
  height: 100%;
  right: 0%;
}

.page {
  position: absolute;
  background: #fff;
  border-right: calc(var(--frameHeight)*0.03) solid #d6d6d6;
  border-left: calc(var(--frameHeight)*0.03) solid #d6d6d6;
  border-left: none;
  height: 100%;
  overflow: hidden;
  right: 0;
  top: 0;
  transition: transform 1s;
  width: 50%;
}

.left-side {
  border-right: none;
  border-left: calc(var(--frameHeight)*0.03) solid #d6d6d6;
}

.page[_ngcontent-ayc-c16]:nth-child(2n+1) {
  border-left: 1px solid #3335;
}

/* Página 1 (oculta) */
.page:nth-child(1) {
  padding: 3% 3% 3% 3%;
  transform-origin: 0% 50%;
  transform: translatez(-1px);
  background: #9bc8d6;
}
.left-side:nth-child(1) {
  transform: translatez(1px) rotatey(-180deg);
}

/* Página 2 (izquierda) */
.page:nth-child(2) {
  transform-origin: 100% 50%;
  transform: translatez(-2px) scalex(-1) translatex(100%);
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.left-side:nth-child(2) {
  transform: translatez(2px) scalex(-1) translatex(100%) rotatey(180deg);
}
.page.page2 .logo1 {
  background: url(../../../../assets/section1/lesson3/view1/images/LogoValparaiso.png) no-repeat;
  background-size: 100% 100%;
  height: calc(var(--frameHeight)*0.2);
  width: calc(var(--frameHeight)*0.35);
}
.page.page2 .image1 {
  background: url(../../../../assets/section1/lesson3/view1/images/logos1.png) no-repeat;
  background-size: 100% 100%;
  height: calc(var(--frameHeight)*0.07);
  width: 95%;
}

/* Página 3 (derecha) */
.page:nth-child(3) {
  transform-origin: 0% 50%;
  transform: translatez(-3px);
  background: #ffffff;
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.left-side:nth-child(3) {
  transform: translatez(3px) rotatey(-180deg);
}
.page.page3 .title{
  position: absolute;
  color: #ED6B06;
  display: block;
  font-size: calc(var(--frameHeight)*0.08);
  font-weight: normal;
  left: 0;
  text-align: center;
  top: 40%;
  width: 100%;
}
.page.page3 .text{
  font-size: calc(var(--frameHeight)*0.025);
  line-height: normal;
  text-align: justify;
  width: 75.3%;
  color: #000
}

/* Página 4 (izquierda) */
.page:nth-child(4) {
  transform-origin: 100% 50%;
  transform: translatez(-4px) scalex(-1) translatex(100%);
  background: #ffffff;
}
.left-side:nth-child(4) {
  transform: translatez(4px) scalex(-1) translatex(100%) rotatey(180deg);
}
.page.page4 .title{
  position: absolute;
  color: #ED6B06;
  display: block;
  font-size: calc(var(--frameHeight)*0.038);
  font-weight: normal;
  left: 0;
  text-align: center;
  top: 5%;
  width: 100%;
}
.page.page4 .title2{
  position: absolute;
  color: #ED6B06;
  display: block;
  font-size: calc(var(--frameHeight)*0.02);
  font-weight: bold;
  left: 0;
  text-align: center;
  top: 13%;

  width: 100%;
}
.page.page4 .text {
  position: absolute;
  font-size: calc(var(--frameHeight)*0.025);
  left: 5%;
  line-height: normal;
  text-align: justify;
  top: 28%;
  width: 90%;
}

/* Página 5 (derecha) */
.page:nth-child(5) {
  transform-origin: 0% 50%;
  transform: translatez(-5px);
  background: #ffffff;
}
.left-side:nth-child(5) {
  transform: translatez(5px) rotatey(-180deg);
}
.page.page5 .text {
  position: absolute;
  font-size: calc(var(--frameHeight)*0.025);
  left: 5%;
  line-height: normal;
  text-align: justify;
  top: 6%;
  width: 90%;
}

.page.page5 .image {
  position: absolute;
  background: url(../../../../assets/section1/lesson3/view1/images/gif_de_hojas.gif) no-repeat;
  background-size: 100% 100%;
  height: 50%;
  left: 14%;
  top: 37%;
  width: 70%;
}

/* Página 6 (izquierda) */
.page:nth-child(6) {
  transform-origin: 100% 50%;
  transform: translatez(-6px) scalex(-1) translatex(100%);
  background: #ffffff;
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.left-side:nth-child(6) {
  transform: translatez(6px) scalex(-1) translatex(100%) rotatey(180deg);
}
.page.page6 .title{
  color: #ED6B06;
  display: block;
  font-size: calc(var(--frameHeight)*0.038);
  font-weight: normal;
  text-align: center;
  width: 100%;
}
.page.page6 .title2{
  color: #ED6B06;
  display: block;
  font-size: calc(var(--frameHeight)*0.02);
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.page.page6 .text {
  font-size: calc(var(--frameHeight)*0.023);
  line-height: normal;
  text-align: justify;
  width: 90%;
}


/* Página 7 (derecha) */
.page:nth-child(7) {
  transform-origin: 0% 50%;
  transform: translatez(-7px);
  background: #ffffff;
}

.left-side:nth-child(7) {
  transform: translatez(7px) rotatey(-180deg);
}
.page.page7 .text {
  position: absolute;
  font-size: calc(var(--frameHeight)*0.023);
  left: 5%;
  line-height: normal;
  text-align: justify;
  top: 5%;
  width: 90%;
}

/* Página 8 (izquierda) */
.page:nth-child(8) {
  transform-origin: 100% 50%;
  transform: translatez(-8px) scalex(-1) translatex(100%);
  background: #ffffff;
}
.left-side:nth-child(8) {
  transform: translatez(8px) scalex(-1) translatex(100%) rotatey(180deg);
}
.page.page8 .title{
  position: absolute;
  color: #ED6B06;
  display: block;
  font-size: calc(var(--frameHeight)*0.08);
  font-weight: normal;
  left: 0;
  text-align: center;
  top: 5%;
  width: 100%;
}
.page.page8 .text {
  position: absolute;
  font-size: calc(var(--frameHeight)*0.025);
  left: 5%;
  line-height: normal;
  text-align: justify;
  top: 28%;
  width: 90%;
}
/* Página 9 (derecha) */
.page:nth-child(9) {
  transform-origin: 0% 50%;
  transform: translatez(-9px);
  background: #ffffff;
}
.left-side:nth-child(9) {
  transform: translatez(9px) rotatey(-180deg);
}
.page.page9 .image {
  position: absolute;
  background: url(../../../../assets/section1/lesson3/view1/images/picture20.png) no-repeat;
  background-size: 100% 100%;
  height: 85%;
  left: 5%;
  top: 9%;
  width: 90%;
}

/* Página 10 (izquierda) */
.page:nth-child(10) {
  transform-origin: 100% 50%;
  transform: translatez(-10px) scalex(-1) translatex(100%);
  background: #ffffff;
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.left-side:nth-child(10) {
  transform: translatez(10px) scalex(-1) translatex(100%) rotatey(180deg);
}
.page.page10 .title{
  color: #ED6B06;
  display: block;
  font-size: calc(var(--frameHeight)*0.08);
  font-weight: normal;
  text-align: center;
  width: 100%;
}
.page.page10 .image {
  background: url(../../../../assets/section1/lesson3/view1/images/AnexoA-2.jpg) no-repeat;
  background-size: 100% 100%;
  height: calc(var(--frameHeight)*0.42);
  width: calc(var(--frameHeight)*0.40);
}

/* Página 11 (derecha) */
.page:nth-child(11) {
  transform-origin: 0% 50%;
  transform: translatez(-11px);
  background: #ffffff;
}
.left-side:nth-child(11) {
  transform: translatez(11px) rotatey(-180deg);
}
.page.page11 .image {
  position: absolute;
  background: url(../../../../assets/section1/lesson3/view1/images/picture22.png) no-repeat;
  background-size: 100% 100%;
  height: 85%;
  left: 5%;
  top: 9%;
  width: 90%;
}
/* Página 12 (izquierda) */
.page:nth-child(12) {
  transform-origin: 100% 50%;
  transform: translatez(-12px) scalex(-1) translatex(100%);
  background: #ffffff;
}
.left-side:nth-child(12) {
  transform: translatez(12px) scalex(-1) translatex(100%) rotatey(180deg);
}
.page.page12 .title{
  position: absolute;
  color: #ED6B06;
  display: block;
  font-size: calc(var(--frameHeight)*0.08);
  font-weight: normal;
  left: 0;
  text-align: center;
  top: 5%;
  width: 100%;
}
.page.page12 .text {
  position: absolute;
  font-size: calc(var(--frameHeight)*0.025);
  left: 10%;
  line-height: normal;
  text-align: justify;
  top: 28%;
  width: 80%;
}

/* Página 13 (derecha) */
.page:nth-child(13) {
  transform-origin: 0% 50%;
  transform: translatez(-13px);
  background: #ffffff;
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.left-side:nth-child(13) {
  transform: translatez(13px) rotatey(-180deg);
}
.page.page13 .image {
  background: url(../../../../assets/section1/lesson3/view1/images/picture20.png) no-repeat;
  background-size: 100% 100%;
  height: calc(var(--frameHeight)*0.6);
  width: calc(var(--frameHeight)*0.47);
}

/* Página 14 (izquierda) */
.page:nth-child(14) {
  transform-origin: 100% 50%;
  transform: translatez(-14px) scalex(-1) translatex(100%);
  background: #ffffff;
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
  padding-top: 6%;
}
.left-side:nth-child(14) {
  transform: translatez(14px) scalex(-1) translatex(100%) rotatey(180deg);
}
.page.page14 .title{
  color: #ED6B06;
  display: block;
  font-size: calc(var(--frameHeight)*0.08);
  font-weight: normal;
  text-align: center;
  width: 100%;
}
.page.page14 .image {
  background: url(../../../../assets/section1/lesson3/view1/images/AnexoB-2.jpg) no-repeat;
  background-size: 100% 100%;
  height: calc(var(--frameHeight)*0.50);
  width: calc(var(--frameHeight)*0.35);
}

/* Página 15 (derecha) */
.page:nth-child(15) {
  transform-origin: 0% 50%;
  transform: translatez(-15px);
  background: #ffffff;
}
.left-side:nth-child(15) {
  transform: translatez(15px) rotatey(-180deg);
}
.page.page15 .image {
  position: absolute;
  background: url(../../../../assets/section1/lesson3/view1/images/picture19.png) no-repeat;
  background-size: 100% 100%;
  height: 85%;
  left: 5%;
  top: 9%;
  width: 90%;
}


/* Página 16 (izquierda) */
.page:nth-child(16) {
  transform-origin: 100% 50%;
  transform: translatez(-16px) scalex(-1) translatex(100%);
  background: #ffffff;
}
.left-side:nth-child(16) {
  transform: translatez(16px) scalex(-1) translatex(100%) rotatey(180deg);
}
.page.page16 .title{
  position: absolute;
  color: #ED6B06;
  display: block;
  font-size: calc(var(--frameHeight)*0.08);
  font-weight: normal;
  left: 0;
  text-align: center;
  top: 5%;
  width: 100%;
}
.page.page16 .text {
  position: absolute;
  font-size: calc(var(--frameHeight)*0.025);
  left: 10%;
  line-height: normal;
  text-align: justify;
  top: 28%;
  width: 80%;
}

/* Página 17 (derecha) */
.page:nth-child(17) {
  transform-origin: 0% 50%;
  transform: translatez(-17px);
  background: #ffffff;
}
.left-side:nth-child(17) {
  transform: translatez(17px) rotatey(-180deg);
}
.page.page17 .image {
  position: absolute;
  background: url(../../../../assets/section1/lesson3/view1/images/picture17.png) no-repeat;
  background-size: 100% 100%;
  height: 85%;
  left: 5%;
  top: 9%;
  width: 90%;
}

/* Página 18 (izquierda) */
.page:nth-child(18) {
  transform-origin: 100% 50%;
  transform: translatez(-18px) scalex(-1) translatex(100%);
  background: #ffffff;
}
.left-side:nth-child(18) {
  transform: translatez(18px) scalex(-1) translatex(100%) rotatey(180deg);
}
.page.page18 .title{
  position: absolute;
  color: #ED6B06;
  display: block;
  font-size: calc(var(--frameHeight)*0.08);
  font-weight: normal;
  left: 0;
  text-align: center;
  top: 5%;
  width: 100%;
}
.page.page18 .text {
  position: absolute;
  font-size: calc(var(--frameHeight)*0.025);
  left: 10%;
  line-height: normal;
  text-align: justify;
  top: 28%;
  width: 80%;
}

/* Página 19 (derecha) */
.page:nth-child(19) {
  transform-origin: 0% 50%;
  transform: translatez(-19px);
  background: #ffffff;
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.left-side:nth-child(19) {
  transform: translatez(19px) rotatey(-180deg);
}
.page.page19 .image {
  background: url(../../../../assets/section1/lesson3/view1/images/picture16.png) no-repeat;
  background-size: 100% 100%;
  height: calc(var(--frameHeight)*0.55);
  width: calc(var(--frameHeight)*0.35);
}

/* Página 20 (izquierda) */
.page:nth-child(20) {
  transform-origin: 100% 50%;
  transform: translatez(-20px) scalex(-1) translatex(100%);
  background: #ffffff;
}
.left-side:nth-child(20) {
  transform: translatez(20px) scalex(-1) translatex(100%) rotatey(180deg);
}
.page.page20 .text{
  position: absolute;
  font-size: calc(var(--frameHeight)*0.025);
  left: 10%;
  line-height: normal;
  text-align: justify;
  top: 28%;
  width: 80%;
}

/* Página 21 (derecha) */
.page:nth-child(21) {
  transform-origin: 0% 50%;
  transform: translatez(-21px);
  background: #ffffff;
}
.left-side:nth-child(21) {
  transform: translatez(21px) rotatey(-180deg);
}
.page.page21 .text{
  position: absolute;
  font-size: calc(var(--frameHeight)*0.025);
  left: 5%;
  line-height: normal;
  text-align: justify;
  top: 18%;
  width: 90%;
}
.page.page21 .image {
  position: absolute;
  background: url(../../../../assets/section1/lesson3/view1/images/gif_medidor.gif) no-repeat;
  background-size: 100% 100%;
  height: calc(var(--frameHeight)*0.30);
  left: 14%;
  top: 42%;
  width: calc(var(--frameHeight)*0.40);
}

/* Página 22 (izquierda) */
.page:nth-child(22) {
  transform-origin: 100% 50%;
  transform: translatez(-22px) scalex(-1) translatex(100%);
  background: #ffffff;
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
  gap: 2%;
}
.left-side:nth-child(22) {
  transform: translatez(22px) scalex(-1) translatex(100%) rotatey(180deg);
}
.page.page22 .image {
  background: url(../../../../assets/section1/lesson3/view1/images/gif_visibility.gif) no-repeat;
  background-size: 100% 100%;
  height: calc(var(--frameHeight)*0.25);;
  width: calc(var(--frameHeight)*0.30);;
}
.page.page22 .text{
  font-size: calc(var(--frameHeight)*0.025);
  line-height: normal;
  text-align: justify;
  width: 88%;
}

/* Página 23 (derecha) */
.page:nth-child(23) {
  transform-origin: 0% 50%;
  transform: translatez(-23px);
  background: #ffffff;
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
  gap: 5%;
  padding-top: 3%;
}
.left-side:nth-child(23) {
  transform: translatez(23px) rotatey(-180deg);
}
.page.page23 .text{
  font-size: calc(var(--frameHeight)*0.025);
  line-height: normal;
  text-align: justify;
  width: 88%;
}
.page.page23 .image {
  background: url(../../../../assets/section1/lesson3/view1/images/gif_comunication.gif) no-repeat;
  background-size: 100% 100%;
  height: calc(var(--frameHeight)*0.22);
  width: calc(var(--frameHeight)*0.30);
}

/* Página 24 (izquierda) */
.page:nth-child(24) {
  transform-origin: 100% 50%;
  transform: translatez(-24px) scalex(-1) translatex(100%);
  background: #ffffff;
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
  gap: 4%;
}
.left-side:nth-child(24) {
  transform: translatez(24px) scalex(-1) translatex(100%) rotatey(180deg);
}
.page.page24 .image {
  background: url(../../../../assets/section1/lesson3/view1/images/gif_facility.gif) no-repeat;
  background-size: 100% 100%;
  height: calc(var(--frameHeight)*0.30);
  width: calc(var(--frameHeight)*0.40);
}
.page.page24 .text{
  font-size: calc(var(--frameHeight)*0.025);
  line-height: normal;
  text-align: justify;
  width: 88%;
}

/* Página 25 (derecha) */
.page:nth-child(25) {
  transform-origin: 0% 50%;
  transform: translatez(-25px);
  background: #ffffff;
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
  gap: 6%;
}
.left-side:nth-child(25) {
  transform: translatez(25px) rotatey(-180deg);
}
.page.page25 .text{
  font-size: calc(var(--frameHeight)*0.025);
  line-height: normal;
  text-align: justify;
  width: 88%;
  /* border: 1px solid red; */
}
.page.page25 .image {
  background: url(../../../../assets/section1/lesson3/view1/images/gif_precision.gif) no-repeat;
  background-size: 100% 100%;
  height: calc(var(--frameHeight)*0.30);
  width: calc(var(--frameHeight)*0.40);
  /* border: 1px solid blue; */
}

/* Página 26 (izquierda) */
.page:nth-child(26) {
  transform-origin: 100% 50%;
  transform: translatez(-26px) scalex(-1) translatex(100%);
  background: #ffffff;
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
  gap: 3%;
}
.left-side:nth-child(26) {
  transform: translatez(26px) scalex(-1) translatex(100%) rotatey(180deg);
}
.page.page26 .title{
  color: #ED6B06;
  display: block;
  font-size: calc(var(--frameHeight)*0.04);
  font-weight: normal;
  text-align: center;
  width: 100%;
}
.page.page26 .image {
  background: url(../../../../assets/section1/lesson3/view1/images/picture15.png) no-repeat;
  background-size: 100% 100%;
  height: calc(var(--frameHeight)*0.5);
  width: calc(var(--frameHeight)*0.36);
}

/* Página 27 (derecha) */
.page:nth-child(27) {
  transform-origin: 0% 50%;
  transform: translatez(-27px);
  background: #ffffff;
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.left-side:nth-child(27) {
  transform: translatez(27px) rotatey(-180deg);
}
.page.page27 .image {
  background: url(../../../../assets/section1/lesson3/view1/images/picture14.png) no-repeat;
  background-size: 100% 100%;
  height: calc(var(--frameHeight)*0.5);
  width: calc(var(--frameHeight)*0.35);
}

/* Página 28 (izquierda) */
.page:nth-child(28) {
  transform-origin: 100% 50%;
  transform: translatez(-28px) scalex(-1) translatex(100%);
  background: #ffffff;
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
  gap: 8%;
}
.left-side:nth-child(28) {
  transform: translatez(28px) scalex(-1) translatex(100%) rotatey(180deg);
}
.page.page28 .title {
  color: #ED6B06;
  display: block;
  font-size: calc(var(--frameHeight)*0.04);
  font-weight: normal;
  line-height: 110%;
  text-align: center;
  width: 100%;
}
.page.page28 .image {
  background: url(../../../../assets/section1/lesson3/view1/images/gif_formulario.gif) no-repeat;
  background-size: 100% 100%;
  height: calc(var(--frameHeight)*0.35);
  width: calc(var(--frameHeight)*0.35);
}

/* Página 29 (derecha) */
.page:nth-child(29) {
  transform-origin: 0% 50%;
  transform: translatez(-29px);
  background: #ffffff;
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.left-side:nth-child(29) {
  transform: translatez(29px) rotatey(-180deg);
}
.page.page29 .video {
  height: calc(var(--frameHeight)*0.278);
  width: 90%;
  box-shadow: calc(var(--frameHeight)*-0.015) 
              calc(var(--frameHeight)*0.025) 
              calc(var(--frameHeight)*0.075) #3b3b3b;
}
.page.page29 .video video {
  height: 100%;
  width: 100%;
  background-color: black;
}


/* Final vacia */
.page:nth-child(30) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-29px) scalex(-1) translatex(100%);
  background: #ccc;
}

.left-side:nth-child(30) {
  transform: translatez(29px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(31) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-25px);
  background: #ccc;
}

.left-side:nth-child(31) {
  transform: translatez(25px) rotatey(-180deg);
}

.page:nth-child(32) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-26px) scalex(-1) translatex(100%);
  background: #ccc;
}

.left-side:nth-child(32) {
  transform: translatez(26px) scalex(-1) translatex(100%) rotatey(180deg);
}




/*  */
/* .page.last {
  display: none;
}
.page:nth-child(22) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-12px) scalex(-1) translatex(100%);
  background: #ccc;
}
.left-side:nth-child(22) {
  transform: translatez(12px) scalex(-1) translatex(100%) rotatey(180deg);
} */



/* Portada (oculta) */
.page.portada .title{
  color: #3d7d9e;
  font-size: calc(var(--frameHeight)*0.085);
  font-weight: 900;
  text-align: center;
}

div.image_portada {
  position: absolute;
  background: url(../../../../assets/section1/lesson3/view1/images/protocolo.png) no-repeat;  
  background-size: 100% 100%;
  height: calc(var(--frameHeight)*0.20);
  left: 33%;
  top: 37%;
  width: calc(var(--frameHeight)*0.20);
}

.page.portada .sub_title{
  position: absolute;
  left: 3%;
  text-align: center;
  top: 72%;
}

/* .cover-front:nth-child(1) {
  text-align: center;
  background: linear-gradient(#afd2dd, #a1d5e5) 50% 50%/80% 86% no-repeat, linear-gradient(#ffffff, #ffffff) 50% 50%/90% 93% no-repeat, linear-gradient(#9bc8d6, #9bc8d6) no-repeat;
}
.cover-front:nth-child(1) h1 {
  font-family: "Lora", serif;
  font-size: 45px;
  color: #134a78;
  margin-top: 30px;
  text-transform: uppercase;
}
.cover-front:nth-child(1) h2 {
  font-family: "EB Garamond", serif;
  font-size: 24px;
  color: #134a78;
  position: relative;
  top: 40%;
}
.cover-front:nth-child(1) .hat {
  font-size: 100px;
  color: #134a78;
  position: relative;
  top: 3%;
} */

p {
  margin-bottom: 4%;
  font-family: "EB Garamond", serif;
  font-size: 16px;
  /* border: 1px solid blue; */
}

.page:nth-child(3) p:first-of-type:first-letter {
  font-size: 32px;
}

.instruction {
  position: absolute;
  color: #0009;
  font-size: calc(var(--frameHeight)*0.04);
  left: calc(var(--frameHeight)*0.63);
  padding: 10px 15px;
  text-align: center;
  top: 49%;
  transform: translate(-50%, -50%);
  width: 27%;
}

