<!-- <div class="instruction">Para navegar por el libro, haz clic sobre la carátula del libro para empezar a leer.</div> -->

<div class="book">

  <div class="page left-side portada">
    <!-- <div class="title"></div>
    <div class="image_portada"></div>
    <div class="sub_title">.</div> -->
  </div>

  <div class="page left-side page2">
    <div class="logo1" disabled></div>
    <div class="image1" disabled></div>

  </div>

  <div class="page page3" (click)="movePage($event, 3)">
    <div class="text" disabled>Acuerdo de coordinación para trabajos interempresas en el subsuelo de bienes nacionales
      de uso público.</div>
  </div>

  <div class="page page4" (click)="movePage($event, 4)">
    <div class="title" disabled>ACUERDO DE COORDINACIÓN</div>
    <div class="title2" disabled>PARA TRABAJOS INTEREMPRESAS EN EL SUBSUELO DE BIENES NACIONALES DE USO PÚBLICO</div>
    <div class="text" disabled>
      El acuerdo de coordinación para trabajos Interempresas en el subsuelo de bienes nacionales de uso público, es un
      convenio que busca regular y coordinar preventivamente las actividades que se realizan en el subsuelo de los
      bienes nacionales de uso público, como las calles y avenidas de las ciudades principalmente. <br><br>
      Este acuerdo tiene como objetivo establecer las pautas y lineamientos necesarios para la coordinación de las
      actividades de empresas que realizan trabajos en el subsuelo</div>
  </div>

  <div class="page page5" (click)="movePage($event, 5)">
    <div class="text" disabled>
      con el fin de prevenir daños, minimizar los riesgos de accidentes y principalmente el cuidado de las personas, así
      como también asegurar una adecuada gestión del espacio público.</div>
    <div class="image" disabled></div>
  </div>

  <div class="page page6" (click)="movePage($event, 6)">
    <div class="title" disabled>¿En qué consiste la Solicitud </div>
    <div class="title2" disabled>de Información de Interferencias para trabajos programados Anexos A, B, C y D?</div>
    <div class="text" disabled>
      La Solicitud de Información de Interferencias (SII) es un proceso que se utiliza en proyectos de construcción o
      trabajos programados que implican la realización de actividades en el subsuelo, como excavaciones o instalación de
      tuberías. El objetivo es prevenir accidentes y daños a la infraestructura subterránea existente, como líneas de
      gas, agua, electricidad, entre otras.<br><br>
      El proceso implica que el solicitante del permiso (usualmente la empresa que realizará los trabajos) debe
      presentar una solicitud a las empresas o entidades propietarias de la infraestructura subterránea existente que
      pueda verse afectada por los trabajos programados.</div>
  </div>

  <div class="page page7" (click)="movePage($event, 7)">
    <div class="text" disabled>
      La solicitud debe incluir la descripción detallada de los trabajos a realizar, la ubicación y duración estimada, y
      otros detalles relevantes.<br><br>
      La respuesta de las empresas o entidades propietarias de la infraestructura subterránea se presenta en los Anexos
      A, B, C y D, que son documentos que detallan la ubicación, tipo y estado de las infraestructuras subterráneas
      existentes, así como cualquier otra información relevante para garantizar la seguridad durante los trabajos
      programados.<br><br>
      En resumen, la Solicitud de Información de Interferencias para trabajos programados y sus anexos A, B, C y D, son
      un conjunto de documentos y procesos que buscan prevenir accidentes y daños a la infraestructura subterránea
      existente durante la realización de trabajos programados en el subsuelo.
    </div>
  </div>
  <div class="page page8" (click)="movePage($event, 8)">
    <div class="title" disabled>ANEXO A</div>
    <div class="text" disabled>
      Anexo que hace referencia a la necesidad de realizar un trabajo, sea particular o de Empresa, por lo cual se
      informa a las Cía.(s) involucradas que tengan o no, instalaciones en el subsuelo, e informen en un plazo no mayor
      a 7 días hábiles a contar de la fecha de recepción. <br><br>
      De no informar se entenderá que en los puntos consultados no existen redes.</div>
  </div>

  <div class="page page9" (click)="movePage($event, 9)">
    <div class="image" disabled></div>
  </div>

  <div class="page page10" (click)="movePage($event, 10)">
    <div class="title" disabled>ANEXO A</div>
    <div class="image" disabled></div>
  </div>

  <div class="page page11" (click)="movePage($event, 11)">
    <div class="image" disabled></div>
  </div>

  <div class="page page12" (click)="movePage($event, 12)">
    <div class="title" disabled>ANEXO B</div>
    <div class="text" disabled>
      Este anexo es el enviado por la (s) Cia. (s) requeridas quienes informaran respecto de la existencia o no de
      instalaciones, de haber, se le asignara un Técnico dedicado con quien se podrán contactar - prevenir y dar
      soluciones a inconvenientes si procede. Debe ser entregada hasta el séptimo día hábil.</div>
  </div>

  <div class="page page13" (click)="movePage($event, 13)">
    <div class="image" disabled></div>
  </div>

  <div class="page page14" (click)="movePage($event, 14)">
    <div class="title" disabled>ANEXO B</div>
    <div class="image" disabled></div>
  </div>

  <div class="page page15" (click)="movePage($event, 15)">
    <div class="image" disabled></div>
  </div>

  <div class="page page16" (click)="movePage($event, 16)">
    <div class="title" disabled>ANEXO C</div>
    <div class="text" disabled>
      Este anexo es el remitido por el solicitante, 48 horas antes, informando el inicio formal de sus actividades de
      intervención, es responsabilidad de la (s) requeridas (s) asistir - cautelar- orientar- prevenir y hacer respetar
      las normativas que garanticen una correcta ejecución de los trabajos en el subsuelo.</div>
  </div>

  <div class="page page17" (click)="movePage($event, 17)">
    <div class="image" disabled></div>
  </div>

  <div class="page page18" (click)="movePage($event, 18)">
    <div class="title" disabled>ANEXO D</div>
    <div class="text" disabled>
      Este anexo fue diseñado para aquellos eventos que nacen súbitamente transformándose en contingencia, la asistencia
      se hace obligatoria aportando en terreno toda la información que se requiera.
      La no asistencia se entiende como la no existencia de redes y se procederá en consecuencia., de existir red la
      consultada deberá hacerse responsable.
    </div>
  </div>

  <div class="page page19" (click)="movePage($event, 19)">
    <div class="image" disabled></div>
  </div>

  <div class="page page20" (click)="movePage($event, 20)">
    <div class="text" disabled>
      Estos anexos se encuentran en un portal web, al cual se ingresa desde la página www.chilquinta.cl, siendo una plataforma 
      automatizada, que permite tener el control de las solicitudes de trabajos programados en una plataforma web, siendo algunos de sus beneficios:
    </div>
  </div>

  <div class="page page21" (click)="movePage($event, 21)">
    <div class="text" disabled>
      <!-- <div class="title2" disabled>Mayor eficiencia:</div> -->
      <b>Mayor eficiencia:</b>
        se ha logrado automatizar el proceso de solicitud y programación, lo que conlleva la reducción del tiempo y los costos asociados con la administración manual de la programación de trabajos.
    </div>
    <div class="image" disabled></div>
  </div>
  
  <div class="page page22" (click)="movePage($event, 22)">
    <div class="image" disabled></div>
    <div class="text" disabled>
      <b>Mayor visibilidad y seguimiento:</b>
        seguimiento de los trabajos solicitados y programados en tiempo real, lo cual permite garantizar que se estén cumpliendo los plazos y que los trabajos se estén realizando según lo acordado.
    </div>
  </div>

  <div class="page page23" (click)="movePage($event, 23)">
    <div class="text" disabled>
      <b>Comunicación mejorada:</b>
      una mejora importante es la comunicación entre los solicitantes y los programadores de trabajos, permitiendo en algunos casos respuesta en línea de forma inmediata (en tiempo real), de acuerdo a los protocolos definidos
    </div>
    <div class="image" disabled></div>
  </div>

  <div class="page page24" (click)="movePage($event, 24)">
    <div class="image" disabled></div>
    <div class="text" disabled>
      <b>Facilidad de uso:</b>
        Al utilizar una plataforma web, los solicitantes pueden solicitar y programar trabajos fácilmente sin necesidad de comunicarse directamente con los programadores. Esto reduce el tiempo y el esfuerzo necesarios para solicitar trabajos y aumentar la satisfacción del cliente.
    </div>
  </div>

  <div class="page page25" (click)="movePage($event, 25)">
    <div class="text" disabled>
      <b>Mayor precisión y calidad:</b>
        Al ser un proceso automatizado, se pueden reducir los errores humanos y mejorar la calidad de los trabajos programados
    </div>
    <div class="image" disabled></div>
  </div>

  <div class="page page26" (click)="movePage($event, 26)">
    <div class="title" disabled>Comunicación | Volantes</div>
    <div class="image" disabled></div>
  </div>

  <div class="page page27" (click)="movePage($event, 27)">
    <div class="image" disabled></div>
  </div>

  <div class="page page28" (click)="movePage($event, 28)">
    <div class="title" disabled>¿Cómo realiza este proceso Chilquinta Distribución?</div>
    <div class="image" disabled></div>
  </div>

  <div class="page page29" (click)="movePage($event, 29)">
    <div class="video">
      <video src="../../../../assets/section1/lesson3/view1/videos/S1L3V1.mp4" controls></video>
    </div>
  </div>

  <!-- <div class="page page20" (click)="movePage($event, 20)"></div> -->
  <div class="border_gray_left"></div>
  <div class="border_gray_right"></div>
  <div class="divisor"></div>
</div>