/*******   Caja Personaje   *******/
.box_character {
    position: absolute;
    height: 64%;
    left: 76.5%;
    top: 26%;
    width: 14.5%;
    z-index: 3;
}
.box_character .character {
    position: absolute;
    background: url(../../../../assets/section1/general_view_lessons/personaje.png) no-repeat;
    background-size: 100% 100%;
    bottom: 3%;
    height: 94%;
    left: 5%;
    width: 63%;
}
.box_character .character .mouth.close{
    position: absolute;
    background: url(../../../../assets/section1/character/images/mouth_close.png) no-repeat;
    background-size: 100% 100%;
    height: 2%;
    left: 37.2%;
    top: 15.3%;
    width: 13%;
}
.box_character .character .mouth.gesture{
    position: absolute;
    background: url(../../../../assets/section1/character/images/mouth_gesture.gif) no-repeat;
    background-size: 100% 100%;
    height: 19%;
    left: 16.3%;
    top: 7%;
    width: 56%;
}

/*******   Animación de llegada vista   *******/
.fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig;
  }
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  /*******   Animación de salida de vista   *******/

  .fadeOutLeftBig {
    -webkit-animation-name: fadeOutLeftBig;
    animation-name: fadeOutLeftBig;
  }


/*******   Caja Menu Botonos Personaje   *******/
.btns_character {
    position: absolute;
    /* background-size: 100% 100%; */
    width: 44%;
    height: 57%;
    width: 15%;
    height: 27%;
    top: 8%;
    left: 56%;
    display: flex;
    justify-content: center;
}
.btns_character .button{
    position: absolute;
    width: 45%;
    height: 17%;
    width: 88%;
    height: 24%;
    /* 
    left: 16%;
    box-shadow: 0 4px 0 calc(var(--frameHeight)*0.0014) #3b3c3d;
    border-top: calc(var(--frameHeight)*0.005) solid #3b3c3d;
    border-left: calc(var(--frameHeight)*0.005) solid #3b3c3d;
    border-right: calc(var(--frameHeight)*0.005) solid #3b3c3d;
    border-bottom: calc(var(--frameHeight)*0.005) solid #3b3c3d;
    border-radius: 50%; 
    */
    cursor: pointer;
}
.btns_character .button:active {
    transform: translateY(3px);
   /*  border-top: 2px solid #3b3c3d;
    border-left: 2px solid #3b3c3d;
    border-right: 2px solid #3b3c3d;
    border-bottom: 2px solid #3b3c3d;
    box-shadow: none; */
}
/* Botón cuadro texto personaje */
.btns_character .button.button_character_text.active {
    background: url(../../../../assets/section1/character/images/dialogue.png) no-repeat;
    background-size: 100% 100%;
    top: 6%;
}
.btns_character .button.button_character_text.active:hover{
    background: url(../../../../assets/section1/character/images/dialogue_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 6%;
}
.btns_character .button.button_character_text.inactive {
    background: url(../../../../assets/section1/character/images/dialogue_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 6%;
}
.btns_character .button.button_character_text.inactive:hover{
    background: url(../../../../assets/section1/character/images/dialogue.png) no-repeat;
    background-size: 100% 100%;
    top: 6%;
}
/* Botón reproducir/detener dialogo personaje */
.btns_character .button.button_character_play.active {
    background: url(../../../../assets/section1/character/images/play.png) no-repeat;
    background-size: 100% 100%;
    top: 38%;
}
.btns_character .button.button_character_play.active:hover{
    background: url(../../../../assets/section1/character/images/play_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 38%;
}
.btns_character .button.button_character_play.inactive {
    background: url(../../../../assets/section1/character/images/play_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 38%;
}
.btns_character .button.button_character_play.inactive:hover{
    background: url(../../../../assets/section1/character/images/play.png) no-repeat;
    background-size: 100% 100%;
    top: 38%;
}
/* Botón silenciar dialogo personaje */
.btns_character .button.button_character_sound.active {
    background: url(../../../../assets/section1/character/images/sound.png) no-repeat;
    background-size: 100% 100%;
    top: 71%;
}
.btns_character .button.button_character_sound.active:hover{
    background: url(../../../../assets/section1/character/images/sound_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 71%;
}
.btns_character .button.button_character_sound.inactive {
    background: url(../../../../assets/section1/character/images/sound_off_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 71%;
}
.btns_character .button.button_character_sound.inactive:hover{
    background: url(../../../../assets/section1/character/images/sound.png) no-repeat;
    background-size: 100% 100%;
    top: 71%;
}