<softi-div bindPosition="" class="box_character">
    <div class="character">
        <div class="mouth close"></div>
    </div>
    <div class="btns_character">
        <!-- <div type="button" class="button button_character_text" [ngClass]="stateCharacterText" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()" (click)="btnCharacterText()"></div> -->
        <div type="button" class="button button_character_play" [ngClass]="stateCharacterPlay"
            (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()" (click)="btnCharacterPlayPause()"></div>
        <div type="button" class="button button_character_sound" [ngClass]="stateCharacterSound"
            (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()" (click)="btnCharacterSound()"></div>
        <!-- <div class="button button_character_play" [ngClass]="soundMenu" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()" (click)="btnPostSound()"></div>
        <div class="button button_character_sound" (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()" ></div> -->
    </div>
    <div class="message_box_character">

    </div>
</softi-div>
<!-- <div class="box_character">
</div> -->
  
<!-- <audio id="voiceOver"><source src="../public/character/sounds/U1_bienvenida.mp3"><track default="" kind="subtitles" label="Subtítulos en español" src="../public/character/transcriptions/U1V1.vtt" srclang="es"></audio> -->