<div class="S1L1V5_container">
    <div class="box_text">
        <div class="title_text">
            <div class="title_text1">SERVICIOS</div>
            <div class="title_text2">BÁSICOS</div>
        </div>
        <div class="paragraph">
            Se define como SERVICIOS BÁSICOS al conjunto de servicios prestados por empresas públicas, privadas o mixtas (público-privado),
            en materia de agua potable y alcantarillado sanitario, energía eléctrica, gas y telefonía. Estos servicios se distribuyen en la
            ciudad de diferentes formas, algunos se pueden distribuir de manera subterránea y/o aérea, como lo es la energía eléctrica. Otros,
             como el gas y el agua sólo en forma subterránea. Estas redes, que son fuentes de energía, se ubican en nuestras ciudades, comuna 
             o país, en los Bienes Nacionales de Uso Público (BNUP), es decir, recorren las aceras, veredas, calzadas, plazas, puentes, 
             carreteras, entre otros; para llegar al cliente final y, aunque muchas veces no las vemos, EXISTEN” y están en servicio.
            
        </div>
    </div>

    <div class="box_images">
        <!-- <div class="left_arrow"></div> -->
        <div class="box_border">
            <div class="box_slider"></div>
            <!-- Inicio Carousel -->
            <!-- <app-carousel-animations-sample></app-carousel-animations-sample> -->
            <div class="carousel-animation-wrapper box_slider">
                <div class="carousel-wrapper">
                    <igx-carousel #carousel animationType='fade' showIndicators="'false">
                        <!-- [navigation]="false" -->
                        <igx-slide *ngFor="let slide of slides;">
                            <div class="slide-wrapper">
                                <div [ngClass]="slide.image">
                                    <!-- <div class="lupa"></div> -->
                                </div>
                                <!-- <igx-card> -->
                                <!-- <igx-card-media> -->
                                <!-- <img [src]="slide.image"> -->
                                <!-- </igx-card-media> -->
                                <!-- </igx-card> -->
                            </div>
                        </igx-slide>
                        <!-- <ng-template igxCarouselIndicator></ng-template> -->
                        <ng-template igxCarouselPrevButton let-disabled>
                            <!-- <div type="button" class="left_arrow"></div> -->
                            <button igxButton="fab" igxRipple="white" class="left_arrow">
                            </button>
                        </ng-template>
                        <ng-template igxCarouselNextButton let-disabled>
                            <!-- <div type="button" class="right_arrow"></div> -->
                            <button igxButton="fab" igxRipple="red" class="right_arrow">
                            </button>
                        </ng-template>
                    </igx-carousel>
                </div>
            </div>
            <!-- Fin Carousel -->
            <!-- 
                <div *ngFor="let slide of slides;">
                    <div [ngClass]="slide.image"></div>
                </div> 
                -->
        </div>
        <!-- <div class="right_arrow"></div> -->
    </div>

    <!-- Personaje -->
    <!-- <app-character #characterId></app-character> -->

</div>

<!-- Modal finalización de lección -->
<div class="modal fade" id="modal_fin" aria-labelledby="exampleModalToggleLabel" tabindex="-1" *ngIf="showModalFinish">
    <div class="modal-dialog-advanced modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-body-message">
                    Felicitaciones has completado con éxito toda la lección, continua con el módulo 2.
                </div>
                <div class="button_continue" type="button" (click)="closeModal()">CONTINUAR</div>
                <div class="button_close" type="button" (click)="closeModal()"></div>
            </div>
        </div>
    </div>
</div>
