/*******   Caja principal con el contenido de las lecciones   *******/
.S1L1V5_container {
    position: absolute;
    border: calc(var(--frameHeight)*0.012) solid #484849;
    background-color: #fff;
    border-radius: 20px;
    height: 73%;
    left: 8.5%;
    overflow: hidden;
    top: 18%;
    width: 83%;
}


/*******   Caja central textos   *******/
.S1L1V5_container .box_text {
    position: absolute;
    font-family: var(--font-family-light);
    font-size: (var(--frameHeight)*0.012);
    height: 90%;
    right: 58%;
    top: calc(var(--frameHeight)*0.04);
    width: 44%;
}
.S1L1V5_container .box_text .title_text {
    width: 100%;
    color: #ED6B06;
    display: block;
}
.S1L1V5_container .box_text .title_text .title_text1{
    font-family: var(--font-family-light);
    font-size: calc(var(--frameHeight)*0.09);
    font-weight: normal; 
    text-align: center;
    margin-bottom: calc(var(--frameHeight)*-0.02);
    width: 100%;
}
.S1L1V5_container .box_text .title_text .title_text2{
    font-family: var(--font-family-bold);
    font-size: calc(var(--frameHeight)*0.05);
    font-weight: bolder;
    line-height: 95%;
    text-align: center;
    width: 100%;
}
.S1L1V5_container .box_text .paragraph {
    *position: absolute;
    *height: -webkit-fill-available;
    color: #484849;
    font-family: var(--font-family-medium);
    font-size: calc(var(--frameHeight)*0.024);
    line-height: 125%;
    overflow-y: auto;
    margin: 0 auto;
    padding-top: calc(var(--frameHeight)*0.04);
    text-align: justify;
    width: 78%;
}
.S1L1V5_container .box_text .paragraph {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.S1L1V5_container .box_text .paragraph::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


/*******   Caja slider imagenes   *******/
.box_images {
    position: absolute;
    height: 100%;
    right: 11.5%;
    width: 51%;
}
.box_images .left_arrow {
    position: absolute;
    background: url(../../../../assets/section1/buttons/arrow_nave_left.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    left: 2%;
    top: 46%;
    padding-right: 1%;
    min-width: calc(var(--frameHeight)*0.06);
    min-height: calc(var(--frameHeight)*0.06);
}
.box_images .left_arrow:hover{
    background: url(../../../../assets/section1/buttons/arrow_nave_left_hover.png) no-repeat;
    background-size: 100% 100%;
    left: 1%;
}
.box_images .right_arrow {
    position: absolute;
    background: url(../../../../assets/section1/buttons/arrow_nave_right.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    right: 2%;
    top: 46%;
    padding-right: 1%;
    min-width: calc(var(--frameHeight)*0.06);
    min-height: calc(var(--frameHeight)*0.06);
}
.box_images .right_arrow:hover{
    background: url(../../../../assets/section1/buttons/arrow_nave_right_hover.png) no-repeat;
    background-size: 100% 100%;
    right: 1%;
}
.box_images .box_border {
    position: absolute;
    /* background: url(../../../../assets/general_view_lessons/personaje.png) no-repeat; */
    background: url(../../../../assets/section1/lesson1/cuadro_galeria.png) no-repeat;
    background-size: 100% 100%;
    height: 81%;
    left: 13%;
    top: 9.6%;
    width: 74%;
}
.box_images .box_border .box_slider{
    position: absolute;
    *background: url(../../../../assets/section1/lesson1/view3/images/imagen1.png) no-repeat;
    background-size: 100% 100%;
    height: 83.34%;
    left: 8%;
    /* overflow: hidden; */
    top: 8%;
    width: 85%;
    /* border: 1px solid red; */
}


/* Slide de imagenes (Carousel) */
.carousel-animation-wrapper {
    display: flex;
    flex-flow: column;
}
.carousel-wrapper {
    height: 100%;
    width: 100%;
}
.slide-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /*  img { width: 100%; } */
}
.igx-card {
    box-shadow: none;
}
/* .igx-carousel-indicators--bottom {
    display: none;
} */
span#igx-carousel-0-label {
    display: none;
}
.lupa {
    border: 2px solid red;
    height: 100%;
    width: 100%;
}

.imagen1{
    background: url(../../../../assets/section1/lesson1/view3/images/imagen1.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.imagen2{
    background: url(../../../../assets/section1/lesson1/view3/images/imagen2.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.imagen3{
    background: url(../../../../assets/section1/lesson1/view3/images/imagen3.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.imagen4{
    background: url(../../../../assets/section1/lesson1/view3/images/imagen4.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.imagen5{
    background: url(../../../../assets/section1/lesson1/view3/images/imagen5.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.imagen6{
    background: url(../../../../assets/section1/lesson1/view3/images/imagen6.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.imagen7{
    background: url(../../../../assets/section1/lesson1/view3/images/picture1.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.imagen8{
    background: url(../../../../assets/section1/lesson1/view3/images/picture2.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.imagen9{
    background: url(../../../../assets/section1/lesson1/view3/images/picture3.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.imagen10{
    background: url(../../../../assets/section1/lesson1/view3/images/picture4.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

/*******   Modal finalización   *******/
#modal_fin {
    position: absolute;
    align-items: center;
    background-color: #5c5c5ccc !important;
    border: none;
    color: white;
    display: block;
    font-family: var(--font-family-light);
    opacity: 100%;
    text-align: center;
}

.modal-dialog-advanced {
    display: grid;
    height: 100%;
    place-items: center;
    width: 100%;
}

.modal-dialog-advanced .modal-content {
    border: none;
    background-image: url(../../../../assets/section1/general_view_lessons/modal_finalizado.png);
    background-size: 100% 100%;
    background-color: transparent;
    height: 90%;
    padding: 0;
    width: 70%;
}

.modal-dialog-advanced .modal-content .modal-body {
    position: absolute;
    *background-image: url(../../../../assets/section1/general_view_lessons/modal.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    display: inline-block;
    height: 78%;
    justify-content: center;
    left: 4%;
    padding: 0;
    top: 24%;
    width: 92%;
}

.modal-dialog-advanced .modal-content .modal-body .modal-body-message {
    color: #333;
    font-size: calc(var(--frameHeight)*0.05);
    justify-content: center;
    text-align: justify;
    font-family: var(--font-family-regular);
    height: auto;
    line-height: 105%;
    margin-left: 7%;
    margin-top: 5%;
    width: 66%;
}

.modal-dialog-advanced .modal-content .modal-body .modal-body-luck {
    color: #333;
    font-family: var(--font-family-regular);
    font-size: calc(var(--frameHeight)*0.05);
    margin-left: 7%;
    margin-top: 4%;
    width: 66%;
}

.modal-dialog-advanced .modal-content .modal-body .button_continue {
    position: absolute;
    background-color: #39a0b4;
    box-shadow: 0 calc(var(--frameHeight)*0.005) 0 calc(var(--frameHeight)*0.004) #3b3c3d;
    border-top: calc(var(--frameHeight)*0.0085) solid #3b3c3d;
    border-left: calc(var(--frameHeight)*0.0085) solid #3b3c3d;
    border-right: calc(var(--frameHeight)*0.0085) solid #3b3c3d;
    border-bottom: calc(var(--frameHeight)*0.0085) solid #3b3c3d;
    border-radius: calc(var(--frameHeight)*1);
    bottom: 14%;
    display: block;
    font-family: var(--font-family-medium);
    font-size: calc(var(--frameHeight)*0.038);
    left: 40%;
    padding: 0.5% 2%;
    transition: background-color 0.5s ease-in-out;
}

.modal-dialog-advanced .modal-content .modal-body .button_continue.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.modal-dialog-advanced .modal-content .modal-body .button_continue:hover {
    /* -webkit-transform: scale(1.1); */
    background-color: #2a6c79;
    /* transform: scale(1.1) */
}
