<div class="carousel-animation-wrapper">
    <div class="action-wrapper">
        <span style="margin: 0 5px 0 10px;">Current animation: </span>
        <span style="max-width: 100px;">
            <igx-select #select [(ngModel)]="carousel.animationType">
                <igx-select-item *ngFor="let animation of animations" [value]="animation">
                    {{animation | titlecase}}
                </igx-select-item>
            </igx-select>
        </span>
    </div>
    <div class="carousel-wrapper">
        <igx-carousel #carousel>
            <igx-slide *ngFor="let slide of slides;">
                <div class="slide-wrapper">
                    <igx-card>
                        <igx-card-header>
                            <h4 igxCardHeaderTitle>{{slide.heading}}</h4>
                        </igx-card-header>

                        <igx-card-content>
                            <p>{{slide.description}}</p>
                        </igx-card-content>

                        <igx-card-media>
                            <img [src]="slide.image">
                        </igx-card-media>

                        <igx-card-actions>
                            <a igxButton href="{{slide.link}}" target="_blank" rel="noopener" style="text-decoration: none;">visit page</a>
                        </igx-card-actions>
                    </igx-card>
                </div>
            </igx-slide>
            <ng-template igxCarouselIndicator></ng-template>
        </igx-carousel>
    </div>
</div>