.background {
    position: absolute;
    background: url(../../../../assets/section1/general_view_lessons/fondo_contenido.png) no-repeat;  
    background-size: 100% 100%;
    width: 100%;
    height:100%;  
    top: 0%;
}

/*******   Caja titulo Módulo   *******/
.title_container {
    position: absolute;
    border: calc(var(--frameHeight)*0.012) solid #484849;
    background-color: #fff;
    border-radius: calc(var(--frameHeight)*0.022);
    height: 11%;
    left: 5%;
    top: 4%;
    padding: 0% 1% 0% 0.5%;
    color: #198195;
    z-index: 1;
}
div.title {
    font-size: calc(var(--frameHeight)*0.035);
    margin-bottom: calc(var(--frameHeight)*-0.018);
}
div.sub_title {
    font-weight: 700;
    font-size: calc(var(--frameHeight)*0.035);
}


/*******   Caja principal con el contenido de las lecciones   *******/
.lesson1View1_container {
    position: absolute;
    border: calc(var(--frameHeight)*0.012) solid #484849;
    background-color: #fff;
    border-radius: 20px;
    height: 73%;
    left: 8.5%;
    top: 18%;
    width: 83%;
}


/*******   Caja central textos   *******/
.lesson1View1_container .box_text {
    position: absolute;
    font-size: (var(--frameHeight)*0.012);
    height: 90%;
    left: 2.5%;
    top: calc(var(--frameHeight)*0.04);
    width: 33%;
}
.lesson1View1_container .box_text .title_text {
    width: 100%;
    color: #ED6B06;
    display: block;
}
.lesson1View1_container .box_text .title_text .title_text1{
    font-size: calc(var(--frameHeight)*0.1);
    font-weight: normal; 
    text-align: center;
    margin-bottom: calc(var(--frameHeight)*-0.02);
    width: 100%;
}
.lesson1View1_container .box_text .title_text .title_text2{
    font-size: calc(var(--frameHeight)*0.05);
    font-weight: bolder;
    line-height: 95%;
    text-align: center;
    width: 100%;
}
.lesson1View1_container .box_text .paragraph {
    position: absolute;
    color: #484849;
    font-weight: 600;
    font-size: calc(var(--frameHeight)*0.024);
    height: -webkit-fill-available;
    line-height: 125%;
    overflow-y: auto;
    padding-top: calc(var(--frameHeight)*0.008);
    text-align: justify;
    width: 100%;
}
.lesson1View1_container .box_text .paragraph {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.lesson1View1_container .box_text .paragraph::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


/*******   Caja Menu lateral izquierdo   *******/
.post_menu {
    position: absolute;
    background: url(../../../../assets/section1/menu/post.png) no-repeat;
    background-size: 100% 100%;
    width: 7%;
    height: 47%;
    bottom: 0.3%;
    *background-color: #9008;
    display: flex;
    justify-content: center;
}
.post_menu .button{
    position: absolute;
    height: calc(var(--frameHeight)*0.065);
    left: 44%;
    width: calc(var(--frameHeight)*0.065);
    box-shadow: 0 calc(var(--frameHeight)*0.005) 0 calc(var(--frameHeight)*0.0025) #3b3c3d;
    border-top: calc(var(--frameHeight)*0.005) solid #3b3c3d;
    border-left: calc(var(--frameHeight)*0.005) solid #3b3c3d;
    border-right: calc(var(--frameHeight)*0.005) solid #3b3c3d;
    border-bottom: calc(var(--frameHeight)*0.005) solid #3b3c3d;
    border-radius: 50%;
    cursor: pointer;
}
.post_menu .button:active {
    transform: translateY(3px);
    border-top: 2px solid #3b3c3d;
    border-left: 2px solid #3b3c3d;
    border-right: 2px solid #3b3c3d;
    border-bottom: 2px solid #3b3c3d;
    box-shadow: none;
}
.post_menu .button.button_menu {
    background: url(../../../../assets/section1/menu/menu.png) no-repeat;
    background-size: 100% 100%;
    top: 11%;
}
.post_menu .button.button_menu:hover{
    background: url(../../../../assets/section1/menu/menu_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 11%;
}
.button_menu a{
    display: block;
    height: inherit;
    width: inherit;
}
.post_menu .button.button_objectives {
    background: url(../../../../assets/section1/menu/objetives.png) no-repeat;
    background-size: 100% 100%;
    top: 32%;
}
.post_menu .button.button_objectives:hover {
    background: url(../../../../assets/section1/menu/objetives_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 32%;
}
.post_menu .button.button_sound.active {
    background: url(../../../../assets/section1/menu/sound.png) no-repeat;
    background-size: 100% 100%;
    top: 53%;
}
.post_menu .button.button_sound.active:hover {
    background: url(../../../../assets/section1/menu/sound_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 53%;
}
.post_menu .button.button_sound.inactive{
    background: url(../../../../assets/section1/menu/sound_off_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 53%;
}
.post_menu .button.button_profile {
    background: url(../../../../assets/section1/menu/profile.png) no-repeat;
    background-size: 100% 100%;
    top: 74.2%;
}
.post_menu .button.button_profile:hover {
    background: url(../../../../assets/section1/menu/profile_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 74.2%;
}



/*******   Caja Menu lateral derecho   *******/
.post_progress {
    position: absolute;
    background: url(../../../../assets/section1/general_view_lessons/post_progress.png) no-repeat;
    background-size: 100% 100%;
    bottom: -0.5%;
    display: flex;
    height: 49.2%;
    justify-content: center;
    right: -0.2%;
    width: 7%;
}



/*******   Diferentes elementos de la vista   *******/
.pipeline_vertical {
    position: absolute;
    background: url(../../../../assets/section1/general_view_lessons/pipeline_vertical.png) no-repeat;  
    background-size: 100% 100%;
    width: 6%;
    height: 37%;
    top: 8%;
    left: 3%;
}

.pipeline_horizontal {
    position: absolute;
    background: url(../../../../assets/section1/general_view_lessons/pipeline_horizontal.png) no-repeat;  
    background-size: 100% 100%;
    width: 71.5%;
    height: 34%;
    top: 66%;
    left: 13%;
}

.houses {
    position: absolute;
    background: url(../../../../assets/section1/general_view_lessons/houses.png) no-repeat;  
    background-size: 100% 100%;
    height: 18%;
    right: 0;
    width: 34%;
}




/*******   Caja Personaje   *******/
.box_character {
    position: absolute;
    height: 64%;
    left: 76.5%;
    top: 26%;
    width: 14.5%;
}
.box_character .character {
    position: absolute;
    background: url(../../../assets/section1/character/images/personaje.png) no-repeat;
    background-size: 100% 100%;
    bottom: 3%;
    height: 94%;
    left: 5%;
    width: 63%;
}
.box_character .character .mouth.close{
    position: absolute;
    background: url(../../../assets/section1/character/images/mouth_close.png) no-repeat;
    background-size: 100% 100%;
    height: 2%;
    left: 37.2%;
    top: 15.3%;
    width: 13%;
}
.box_character .character .mouth.gesture{
    position: absolute;
    background: url(../../../assets/section1/character/images/mouth_gesture.gif) no-repeat;
    background-size: 100% 100%;
    height: 19%;
    left: 16.3%;
    top: 7%;
    width: 56%;
}


/*******   Caja Menu Botonos Personaje   *******/
.btns_character {
    position: absolute;
    /* background-size: 100% 100%; */
    width: 44%;
    height: 57%;
    width: 15%;
    height: 27%;
    top: 8%;
    left: 56%;
    display: flex;
    justify-content: center;
}
.btns_character .button{
    position: absolute;
    width: 45%;
    height: 17%;
    width: 88%;
    height: 24%;
    /* 
    left: 16%;
    box-shadow: 0 4px 0 calc(var(--frameHeight)*0.0014) #3b3c3d;
    border-top: calc(var(--frameHeight)*0.005) solid #3b3c3d;
    border-left: calc(var(--frameHeight)*0.005) solid #3b3c3d;
    border-right: calc(var(--frameHeight)*0.005) solid #3b3c3d;
    border-bottom: calc(var(--frameHeight)*0.005) solid #3b3c3d;
    border-radius: 50%; 
    */
    cursor: pointer;
}
.btns_character .button:active {
    transform: translateY(3px);
   /*  border-top: 2px solid #3b3c3d;
    border-left: 2px solid #3b3c3d;
    border-right: 2px solid #3b3c3d;
    border-bottom: 2px solid #3b3c3d;
    box-shadow: none; */
}
/* Botón cuadro texto personaje */
.btns_character .button.button_character_text.active {
    background: url(../../../assets/section1/character/images/dialogue.png) no-repeat;
    background-size: 100% 100%;
    top: 6%;
}
.btns_character .button.button_character_text.active:hover{
    background: url(../../../assets/section1/character/images/dialogue_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 6%;
}
.btns_character .button.button_character_text.inactive {
    background: url(../../../assets/section1/character/images/dialogue_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 6%;
}
.btns_character .button.button_character_text.inactive:hover{
    background: url(../../../assets/section1/character/images/dialogue.png) no-repeat;
    background-size: 100% 100%;
    top: 6%;
}
/* Botón reproducir/detener dialogo personaje */
.btns_character .button.button_character_play.active {
    background: url(../../../assets/section1/character/images/play.png) no-repeat;
    background-size: 100% 100%;
    top: 38%;
}
.btns_character .button.button_character_play.active:hover{
    background: url(../../../assets/section1/character/images/play_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 38%;
}
.btns_character .button.button_character_play.inactive {
    background: url(../../../assets/section1/character/images/play_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 38%;
}
.btns_character .button.button_character_play.inactive:hover{
    background: url(../../../assets/section1/character/images/play.png) no-repeat;
    background-size: 100% 100%;
    top: 38%;
}
/* Botón silenciar dialogo personaje */
.btns_character .button.button_character_sound.active {
    background: url(../../../assets/section1/character/images/sound.png) no-repeat;
    background-size: 100% 100%;
    top: 71%;
}
.btns_character .button.button_character_sound.active:hover{
    background: url(../../../assets/section1/character/images/sound_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 71%;
}
.btns_character .button.button_character_sound.inactive {
    background: url(../../../assets/section1/character/images/sound_off_hover.png) no-repeat;
    background-size: 100% 100%;
    top: 71%;
}
.btns_character .button.button_character_sound.inactive:hover{
    background: url(../../../assets/section1/character/images/sound.png) no-repeat;
    background-size: 100% 100%;
    top: 71%;
}



/***   Caja cambio de vistas   ***/
.advance_box {
    height: 16%;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(var(--frameHeight)*0.26);
    padding: 0% 1%;
    top: 76%;
    width: 34%;
    width: min-content;
    display: flex;
    align-items: center;
    gap: calc(var(--frameHeight)*0.018);
}

.pag_left {
    background: url(../../../../assets/section1/buttons/pag_left.png) no-repeat;
    background-size: 100% 100%;
    height: calc(var(--frameHeight)*0.05);
    width: calc(var(--frameHeight)*0.05);
}
.pag_left:hover {
    background: url(../../../../assets/section1/buttons/pag_left_hover.png) no-repeat;
    background-size: 100% 100%;
}
.pag_right {
    background: url(../../../../assets/section1/buttons/pag_right.png) no-repeat;
    background-size: 100% 100%;
    height: calc(var(--frameHeight)*0.05);
    width: calc(var(--frameHeight)*0.05);
}
.pag_right:hover {
    background: url(../../../../assets/section1/buttons/pag_right_hover.png) no-repeat;
    background-size: 100% 100%;
}
.point {
    background: url(../../../../assets/section1/buttons/point.png) no-repeat;
    background-size: 100% 100%;
    height: calc(var(--frameHeight)*0.015);
    width: calc(var(--frameHeight)*0.015);
}
.point.point_current {
    background: url(../../../../assets/section1/buttons/point_hover.png) no-repeat;
    background-size: 100% 100%;
}
.point:hover {
    background: url(../../../../assets/section1/buttons/point_hover.png) no-repeat;
    background-size: 100% 100%;
}
.point a{
    display: block;
    height: inherit;
    width: inherit;
}




/*******   Caja Video lesson1/view1   *******/
.video {
    position: absolute;
    height: 49.85%;
    left: 44%;
    top: 21%;
    width: 35%;
    box-shadow: calc(var(--frameHeight)*-0.015) 
                calc(var(--frameHeight)*0.025) 
                calc(var(--frameHeight)*0.075) #3b3b3b;
}

.video video {
    position: absolute;
    height: 100%;
    width: 100%;
}


/*******   Caja Modal   *******/
#modal_info{
    position: absolute;
    opacity: 100%;
    text-align: center;  
    align-items: center;
    color: white;
    display: block;
    border: none;
    background-color: #5c5c5ccc !important;
}

.modal-dialog-advanced {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.modal-content {
    border: none;
    /* background-size: 100% 100%; */
    background-color: transparent;
    height: 90%;
    padding: 0;
    width: 70%;
}
.modal-header{
    position: absolute;
    border-radius: calc(var(--frameHeight)*0.032);
    height: 19%;
    left: 3%;
    padding: 0;
    top: 1%;
    width: 27%;
    /* clip-path: polygon(0 1%, 87.5% 0, 87.5% 50%, 124% 47%, 100% 100%, 0 100%); */
}
.modal-header-1 {
    position: absolute;
    border: calc(var(--frameHeight)*0.015) solid #3d3d3d;
    border-top-left-radius: calc(var(--frameHeight)*0.02);
    border-top-right-radius: calc(var(--frameHeight)*0.02);
    border-bottom: none;
    height: 44%;
    top: 0;
    width: 88%;
    background-color: white;
}
.modal-header-2 {
    position: absolute;
    border: calc(var(--frameHeight)*0.015) solid #3d3d3d;
    border-bottom-left-radius: calc(var(--frameHeight)*0.02);
    border-top: none;
    border-right: none;
    height: 61%;
    bottom: -1%;
    width: 92%;
    background-color: white;
}
.modal-header-3 {
    position: absolute;
    border: calc(var(--frameHeight)*0.015) solid #3d3d3d;
    border-bottom-right-radius: calc(var(--frameHeight)*0.02);
    border-top-right-radius: calc(var(--frameHeight)*0.02);
    border-left: none;
    height: 61%;
    right: 0;
    bottom: -1%;
    width: 12%;
    background-color: white;
}
.modal-header-4 {
    position: absolute;
    border: calc(var(--frameHeight)*0.015) solid #3d3d3d;
    border-bottom-left-radius: calc(var(--frameHeight)*0.02);
    border-right: none;
    border-top: none;
    height: 9%;
    right: 3.1%;
    top: 40%;
    width: 12%;
}
.modal-title-1 {
    position: absolute;
    color: #ED6B06;
    font-size: calc(var(--frameHeight)*0.108);
    font-weight: 900;
    left: 7%;
    line-height: calc(var(--frameHeight)*0.078);
    top: 2%;
    z-index: 1;
}
.modal-title-2 {
    position: absolute;
    color: #ED6B06;
    font-size: calc(var(--frameHeight)*0.075);
    font-weight: 500;
    left: 14%;
    line-height: calc(var(--frameHeight)*0.078);
    bottom: 13%;
    z-index: 1;
}
.modal-body {
    position: absolute;
    background-image: url(../../../assets/section1/general_view_lessons/modal.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    display: inline-block;
    height: 78%;
    justify-content: center;
    left: 4%;
    padding: 0;
    top: 21%;
    width: 92%;
}
.modal-body-message{
    color: #333;
    font-size: calc(var(--frameHeight)*0.05);
    justify-content: center;
    text-align: justify;
    font-family: Montserrat-Black;
    height: auto;
    line-height: 105%;
    margin-left: 7%;
    margin-top: 5%;
    width: 66%;
}
.modal-body-luck {
    color: #333;
    font-size: calc(var(--frameHeight)*0.05);
    margin-left: 7%;
    margin-top: 4%;
    width: 66%;
}
.button_continue {
    position: absolute;
    background-color: #39a0b4;
    box-shadow: 0 calc(var(--frameHeight)*0.005) 0 calc(var(--frameHeight)*0.004) #3b3c3d;
    border-top: calc(var(--frameHeight)*0.0085) solid #3b3c3d;
    border-left: calc(var(--frameHeight)*0.0085) solid #3b3c3d;
    border-right: calc(var(--frameHeight)*0.0085) solid #3b3c3d;
    border-bottom: calc(var(--frameHeight)*0.0085) solid #3b3c3d;
    border-radius: calc(var(--frameHeight)*1);
    bottom: 10%;
    display: block;
    font-size: calc(var(--frameHeight)*0.038);
    left: 40%;
    padding: 0.5% 2%;
    transition: background-color 0.5s ease-in-out;
}
.button_continue.disabled {
    opacity: 0.4;
    pointer-events: none;
}
.button_continue:hover {
    /* -webkit-transform: scale(1.1); */
    background-color: #2a6c79;
    /* transform: scale(1.1) */
}
.button_continue:active {
    transform: translateY(3px);
    border-top: calc(var(--frameHeight)*0.007) solid #3b3c3d;
    border-left: calc(var(--frameHeight)*0.007) solid #3b3c3d;
    border-right: calc(var(--frameHeight)*0.007) solid #3b3c3d;
    border-bottom: calc(var(--frameHeight)*0.007) solid #3b3c3d;
    box-shadow: none;
}   
.button_show_modal {
    position: absolute;
    top: 45%;
    left: 2%;
    background-color: #105360;
    color: white;
    padding: 0.3%;
}

