/* You can add global styles to this file, and also import other style files */

/******************************************************************
 *  Se establecen constantes de propiedades CSS para mayor
 *  facilidad al realizar cambios futuros en los componentes.
 *
 *  Para el buen funcionamiento de las Softi-Directivas y lograr
 *  el alcance de estas constantes a todos los componentes se
 *  deberá establecer en la etiqueta html.
 *
 *  Si se cambia la sintaxis al nombrar las constantes
 *  no afectará el funcionamiento del sistema.
 *
 *  Las fuentes importadas se encuentran en el index.html.
 *
 *  Se puede declarar otros atributos para la
 *  etiqueta html en la seccion Other.
/*****************************************************************/
@import '~animate.css/animate.min.css';

@font-face {
    font-family: 'fuente-roboto-light';
    src: url('./assets/fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'fuente-roboto-regular';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'fuente-roboto-medium';
    src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'fuente-roboto-bold';
    src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'fuente-roboto-black';
    src: url('./assets/fonts/Roboto-Black.ttf') format('truetype');
}

  /* https://gitlab.com/proyectos-chilquinta/chq_curso_bnup/-/blob/development/src/assets/fonts/Roboto-Medium.ttf */

/*   @font-face {
    font-family: 'costum';
    src: url('../src/assets/Montserrat-VariableFont_wght.ttf') format('truetype');
  } */


html
{
    /* Font Family */
    --font_primary: 'fuente-roboto-medium';
    --font_secondary: 'fuente-roboto-bold';
    --font-family-light: 'fuente-roboto-light';
    --font-family-regular: 'fuente-roboto-regular';
    --font-family-medium: 'fuente-roboto-medium';
    --font-family-bold: 'fuente-roboto-bold';
    --font-family-black: 'fuente-roboto-black';

    /* Font Color */
    --color_primary: #1E0540;
    --color_secondary: white;
    --color_tertiary: #3F1F0F;

    /* Auxiliary Color */
    --color_1st: #F8C200;
    --color_2nd: #D97D11;
    --color_3rd: #402759;
    --color_4th: #BAB2D6;
    --color_5th: #135f25;

    /* Other */
    /* ---d: blue; */
}

/********************************************************************
 *  Se realiza cálculo para guardar las proporciones de los
 *  componentes en diferentes tamaños de pantallas.
 *
 *  Para el buen funcionamiento de la escalabilidad de los componentes
 *  establezca los siguientes cálculos en la etiqueta body.
 *
 *  NO modifique nombres ni valores en la seccion Resize.
 *
 *  Se puede declarar otros atributos para la etiqueta
 *  body en la seccion Other.
 *******************************************************************/
body
{
    /* Resize */
    /* --scaleWidth: 1366; monitor */
    --scaleWidth: 1450; /* portatil */
    --scaleHeight: 657;
    --scale: calc(var(--scaleWidth) / var(--scaleHeight));

    --widthFullScreen: 100vw;
    --widthResizeScreen: calc(100vh * var(--scale));
    --frameWidth: min(var(--widthFullScreen) , var(--widthResizeScreen));

    --heightFullScreen: 100vh;
    --heightResizeScreen: calc(100vw / var(--scale));
    --frameHeight: min(var(--heightFullScreen) , var(--heightResizeScreen));

    /* Other */
    /* background-color: black; */
    /* font-family: 'Roboto' !important; */
    /* font-family: var(--font_primary); */
    
    font-family: var(--font_primary), sans-serif !important;
}

/********************************************************************
 *  Se aplica el cálculo obtenido del body para guardar las
 *  proporciones de los componentes.
 *
 *  Para el buen funcionamiento de la escalabilidad de los componentes
 *  establezca los siguientes cálculos en la etiqueta app-root.
 *
 *  NO modifique nombres ni valores en la seccion Resize.
 *
 *  Se puede declarar otros atributos para la etiqueta
 *  body en la seccion Other.
 *******************************************************************/
app-root
{
    /* Resize */
    position: absolute;
    overflow: hidden;
    width: var(--frameWidth);
    height: var(--frameHeight);
    top: calc((var(--heightFullScreen) - var(--frameHeight)) / 2);
    left: calc((var(--widthFullScreen) - var(--frameWidth)) / 2);

    /* Other */
}
/* Carousel lesson1/view3 */
div.igx-carousel__inner {
    min-height: auto;
    min-width: auto;
}
.igx-carousel__arrow--next {
    position: absolute;
    top: 42% !important;
    left: 120% !important;
}
.igx-carousel__arrow--prev {
    position: absolute;
    top: 42% !important;
    left: -30% !important;
}
div.igx-carousel-indicators--bottom {
    display: none;
}