/*******   Caja principal con el contenido de las lecciones   *******/
.S1L1V1_container {
    position: absolute;
    border: calc(var(--frameHeight)*0.012) solid #484849;
    background-color: #fff;
    border-radius: 20px;
    height: 73%;
    left: 8.5%;
    top: 18%;
    width: 83%;
}

/*******   Caja central textos   *******/
.S1L1V1_container .box_text {
    position: absolute;
    font-size: (var(--frameHeight)*0.012);
    height: 80%;
    left: 2.5%;
    top: calc(var(--frameHeight)*0.04);
    width: 36%;
}
.S1L1V1_container .box_text .title_text {
    width: 100%;
    color: #ED6B06;
    display: block;
}
.S1L1V1_container .box_text .title_text .title_text1{
    font-family: var(--font-family-light);
    font-size: calc(var(--frameHeight)*0.07);
    text-align: center;
    margin-bottom: calc(var(--frameHeight)*-0.02);
    width: 100%;
}
.S1L1V1_container .box_text .title_text .title_text2{
    font-family: var(--font-family-bold);
    font-size: calc(var(--frameHeight)*0.05);
    font-weight: bolder;
    line-height: 95%;
    text-align: center;
    width: 100%;
}
.S1L1V1_container .box_text .paragraph {
    position: absolute;
    color: #484849;
    font-family: var(--font-family-medium);
    font-size: calc(var(--frameHeight)*0.024);
    height: -webkit-fill-available;
    line-height: 125%;
    /* margin-left: 5%; */
    overflow-y: auto;
    padding-top: calc(var(--frameHeight)*0.008);
    text-align: justify;
    width: 100%;
}
.S1L1V1_container .box_text .paragraph {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.S1L1V1_container .box_text .paragraph::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.S1L1V1_container .box_text .paragraph1 {
    position: absolute;
    color: #484849;
    font-family: var(--font-family-medium);
    font-size: calc(var(--frameHeight)*0.024);
    height: -webkit-fill-available;
    line-height: 125%;
    /* margin-left: 5%; */
    overflow-y: auto;
    padding-top: calc(var(--frameHeight)*0.008);
    text-align: justify;
    width: 100%;
    top: 30%;
}
.S1L1V1_container .box_text .paragraph2 {
    position: absolute;
    color: #484849;
    font-family: var(--font-family-medium);
    font-size: calc(var(--frameHeight)*0.024);
    height: -webkit-fill-available;
    line-height: 125%;
    /* margin-left: 5%; */
    overflow-y: auto;
    padding-top: calc(var(--frameHeight)*0.008);
    text-align: justify;
    width: 100%;
    top: 55%
}
.S1L1V1_container .box_text .paragraph3 {
    position: absolute;
    color: #484849;
    font-family: var(--font-family-medium);
    font-size: calc(var(--frameHeight)*0.024);
    height: -webkit-fill-available;
    line-height: 125%;
    /* margin-left: 5%; */
    overflow-y: auto;
    padding-top: calc(var(--frameHeight)*0.008);
    text-align: justify;
    width: 100%;
    top: 74%;
}

.video {
    position: absolute;
    height: 49.85%;
    left: 44%;
    top: 21%;
    width: 35%;
    box-shadow: calc(var(--frameHeight)*-0.015) 
                calc(var(--frameHeight)*0.025) 
                calc(var(--frameHeight)*0.075) #3b3b3b;
    background: url(../../../../assets/section1/lesson1/view1/images/video.png) no-repeat;
    background-size: 109% 114%;
    background-position-x: 98%;
}

.video video {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
}

/*******   Caja cambio de vistas   *******/
.advance_box {
    height: 16%;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(var(--frameHeight)*0.26);
    padding: 0% 1%;
    top: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--frameHeight)*0.018);
    position: absolute;
}

.point {
    background: url(../../../../assets/section1/buttons/point.png) no-repeat;
    background-size: 100% 100%;
    height: calc(var(--frameHeight)*0.015);
    width: calc(var(--frameHeight)*0.015);
}
.point.point_current {
    background: url(../../../../assets/section1/buttons/point_hover.png) no-repeat;
    background-size: 100% 100%;
}
.point:hover {
    background: url(../../../../assets/section1/buttons/point_hover.png) no-repeat;
    background-size: 100% 100%;
}
.point a{
    display: block;
    height: inherit;
    width: inherit;
}
.pag_left {
    background: url(../../../../assets/section1/buttons/arrow_left_1.png) no-repeat;
    background-size: 100% 100%;
    height: calc(var(--frameHeight)*0.04);
    width: calc(var(--frameHeight)*0.03);
    position: absolute;
    left: 20%;
}
.pag_left:hover {
    background: url(../../../../assets/section1/buttons/hover_arrow_left.png) no-repeat;
    background-size: 100% 100%;
}
.pag_right {
    background: url(../../../../assets/section1/buttons/arrow_right_1.png) no-repeat;
    background-size: 100% 100%;
    height: calc(var(--frameHeight)*0.04);
    width: calc(var(--frameHeight)*0.03);
    position: absolute;
    right: 20%;
}
.pag_right:hover {
    background: url(../../../../assets/section1/buttons/hover_arrow_right.png) no-repeat;
    background-size: 100% 100%;
}