
    <div class="S1L1V1_container">
        <div class="box_text">
            <div class="title_text">
                <div class="title_text1">{{getCurrentQuestion().title}}</div>
                <div class="title_text2"></div>
            </div>
            <div class="paragraph">
                {{getCurrentQuestion().description}}
            </div>
            <div class="paragraph1" *ngIf="currentQuestion == 1">
                {{getCurrentQuestion().description1}}
            </div>
            <div class="paragraph2" *ngIf="currentQuestion == 1">
                {{getCurrentQuestion().description2}}
            </div>
            <div class="paragraph3" *ngIf="currentQuestion == 1">
                {{getCurrentQuestion().description3}}
            </div>
            <div class="advance_box">
                <div type="button" class="pag_left" (click)="changeViews(0)"></div>
                <div type="button" class="point point01 point_current" (click)="changeViews(0)"></div>
                <div type="button" class="point point02" (click)="changeViews(1)"></div>
                <div type="button" class="pag_right" (click)="changeViews(1)"></div>    
            </div>
        </div>
        <div class="video">
            <!-- <video src="../../../../assets/section1/lesson1/view1/videos/video_prueba.mp4" controls></video> -->
        </div>
      
        <!-- Personaje -->

        <!-- <app-character #characterId></app-character> -->

        <!-- <app-character myStyle="default">  -->
        <!-- <app-boxMessage myStyle="default">  -->

        <!-- Modal -->
        <!-- <app-modal (isClicked)="closeModal($event)" #modalId [modalMessage]="modalMessage"></app-modal> -->
       <!--  <div class="box_character">
            <div class="character">
                <div class="mouth close"></div>
            </div>
            <div class="btns_character">
                <div type="button" class="button button_character_play" [ngClass]="stateCharacterPlay"
                    (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()" (click)="btnCharacterPlay()"></div>
                <div type="button" class="button button_character_sound" [ngClass]="stateCharacterSound"
                    (mouseenter)="hoverBtnPostMenu()" (mouseleave)="leaveBtnPostMenu()" (click)="btnCharacterSound()"></div>
            </div>
            <div class="message_box_character">
            </div>
        </div> -->
        
    </div>
    