/*******   Caja principal con el contenido de las lecciones   *******/
.S1L1V3_container {
    position: absolute;
    border: calc(var(--frameHeight)*0.012) solid #484849;
    background-color: #fff;
    border-radius: 20px;
    height: 73%;
    left: 8.5%;
    overflow: hidden;
    top: 18%;
    width: 83%;
}

/*******   Animación de llegada vista   *******/
.fadeInDownBig {
    -webkit-animation-name: fadeInDownBig;
    animation-name: fadeInDownBig;
  }
  .animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
/*******   Animación de llegada vista   *******/
.rubberBand {
    animation: rubberBand 1s infinite;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: rubberBand;
  }

/*******   Caja central textos   *******/
.S1L1V3_container .box_text {
    position: absolute;
    font-family: var(--font-family-light);
    font-size: (var(--frameHeight)*0.012);
    height: 90%;
    top: calc(var(--frameHeight)*0.04);
    width: 85%;
  
}
.S1L1V3_container .box_text .title_text {
    width: 100%;
    color: #ED6B06;
    display: block;
    font-size: calc(var(--frameHeight)*0.04);
    text-align: center;
    margin-bottom: 3%;

}
.S1L1V3_container .box_text .title_text .title_text1{
    font-family: var(--font-family-light);
    font-size: calc(var(--frameHeight)*0.09);
    font-weight: normal; 
    text-align: center;
    margin-bottom: calc(var(--frameHeight)*-0.02);
    width: 100%;
}
.S1L1V3_container .box_text .title_text .title_text1{
    font-family: var(--font-family-light);
    font-size: calc(var(--frameHeight)*0.07);
    font-weight: normal;
    text-align: initial;
    margin-bottom: calc(var(--frameHeight)*-0.02);
    margin-top: -2.5%;
    width: 100%;
    margin-left: 18%;
}
.S1L1V3_container .box_text .title_text .title_text2{
    font-family: var(--font-family-bold);
    font-size: calc(var(--frameHeight)*0.04);
    font-weight: bolder;
    line-height: 95%;
    text-align: initial;
    width: 100%;
    margin-left: 10%;
}
.S1L1V3_container .box_text .content .paragraph{
    margin-top: 20%;
}
.S1L1V3_container .box_text .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
    height: 30%;
}

.S1L1V3_container .box_text .content .text1 .img1{
    position:absolute;
    background: url(../../../../assets/section1/lesson1/view3/images/btn_bienes_fiscales.png) no-repeat;
    background-size: 100% 100%;
    width: 15%;
    height: 25%;
    margin-left: 19%;
    cursor: pointer;
}
.S1L1V3_container .box_text .content .text1 .img1:hover{
    transform: translateY(5px);
    box-shadow: none;
}
.S1L1V3_container .box_text .content .text1 .info1{
    display: none;
}
.S1L1V3_container .box_text .content .text2 .img2{
    position:absolute;
    background: url(../../../../assets/section1/lesson1/view3/images/btn_bienes_nacionales.png) no-repeat;
    background-size: 100% 100%;
    width: 15%;
    height: 25%;
    margin-left: 19%;
    cursor: pointer;
}
.S1L1V3_container .box_text .content .text2 .img2:hover{
    transform: translateY(5px);
    box-shadow: none;
}
.S1L1V3_container .box_text .content .text2 .info2{
    display: none;
}
.S1L1V3_container .box_text .text3{
    margin-top: 14.7%;
    margin-left: 15%;
}

.S1L1V3_container .box_text .text3 .warning{
    position:absolute;
    background: url(../../../../assets/section1/lesson1/view3/images/btn_admiración.png) no-repeat;
    background-size: 100% 100%;
    left: 11%;
    top: 92%;
    cursor: pointer;
    width: 3%;
    height: 7%;

}
.S1L1V3_container .box_text .text3 .warning:hover{
    transform: translateY(5px);
    box-shadow: none;
}
.S1L1V3_container .box_text .text3 .info3{
    display: none;
}

.S1L1V3_container .box_text .text3 .info3 .text_warning{
    *position: absolute;
    *height: -webkit-fill-available;
    font-family: var(--font-family-regular);
    font-size: calc(var(--frameHeight)*0.024);
    line-height: 100%;
    overflow-y: auto;
    /* margin: 0 auto; */
    padding-top: calc(var(--frameHeight)*0.04);
    text-align: justify;
    margin-left: 0;
    width: 90%;
}

.S1L1V3_container .box_text .text3 .info3 .text_warning {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.S1L1V3_container .box_text .text3 .info3 .text_warning::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.S1L1V3_container .box_text .paragraph {
    *position: absolute;
    *height: -webkit-fill-available;
    font-family: var(--font-family-regular);
    font-size: calc(var(--frameHeight)*0.024);
    line-height: 100%;
    overflow-y: auto;
    /* margin: 0 auto; */
    margin-left: 4%;
    padding-top: calc(var(--frameHeight)*0.04);
    text-align: justify;
    width: 95%;
}
.S1L1V3_container .box_text .paragraph {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.S1L1V3_container .box_text .paragraph::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

@keyframes fadeInDownBig {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}