<div class="S1L1V3_container">
    <div class="box_text">
        <div class="title_text">
            <div class="title_text1">LOS BNUP</div>
            <div class="title_text2">SE CLASIFICAN EN DOS CATEGORÍAS </div>
        </div>
        <div class="content">
            <div class="text1">
                <div class="img1 rubberBand" (click)="viewInfo(1)"></div>
                <div class="info1 animated fadeInDownBig">
                    <div class="paragraph">
                        <b>Bienes fiscales o del estado,</b> son aquellos bienes que pertenecen al Estado y que son
                        administrados por él en representación de toda la sociedad.
                        La gestión de los bienes fiscales es responsabilidad de las autoridades del Estado, quienes
                        deben velar por su correcta utilización y conservación. Estos pueden ser de distinto tipo tales
                        como: terrenos, edificios,
                        maquinarias, vehículos, entre otros.
                    </div>
                </div>
            </div>
            <div class="text2">
                <div class="img2 rubberBand" (click)="viewInfo(2)"></div>
                <div class="info2 animated fadeInDownBig">
                    <div class="paragraph">
                        <b>Bienes Nacionales de Uso Público (BNUP),</b> entendiendo por estos aquellos cuyo uso
                        pertenece a todos los habitantes de la nación,
                        tales como: calles, plazas, puentes y caminos, el mar adyacente y sus playas.
                    </div>
                </div>
            </div>
        </div>
        <div class="text3">
            <div class="warning rubberBand" (click)="viewInfo(3)"></div>
            <div class="info3 animated fadeInDownBig">
                <div class="text_warning">
                    El <b>articulo 589,</b> del Código Civil chileno, establece que llaman o son bienes nacionales
                    de uso público, cuyo dominio pertenece a la Nación toda y que, además su uso pertenece a todos
                    los habitantes de la Nación.
                </div>
            </div>
        </div>
    </div>