<div class="instruction">Flip the page</div>
<div class="book">
  <div class="page cover-front" (click)="movePage($event, 1)">
    <h1>Mrs. Dalloway</h1>
    <div class="hat">
      <i class="fab fa-pied-piper-hat"></i>
    </div>
    <h2>Virginia Woolf</h2>
  </div>

  <div class="page cover-front" (click)="movePage($event, 2)"></div>

  <div class="page text-page" (click)="movePage($event, 3)">
    <p disabled>Página 03 - Mrs. Dalloway said she would buy the flowers herself.</p>
    <p disabled>For Lucy had her work cut out for her. The doors would be taken off their hinges; Rumpelmayer's men were coming. And then, thought Clarissa Dalloway, what a morning--fresh as if issued to children on a beach.</p>
    <p disabled>What a lark! What a plunge! For so it had always seemed to her, when, with a little squeak of the hinges, which she could hear now, she had burst open the French windows and plunged at Bourton into the open air. How fresh, how calm, stiller than event of course, the air was in the early morning; like the flap of a wave; the kiss of a wave; chill and sharp and yet (for a girl of eighteen as she then was) solemn, feeling as she did, standing there at the open window, that something awful was about to happen; looking at the flowers, at the trees with the smoke winding off them and the rooks </p>
  </div>

  <div class="page text-page" (click)="movePage($event, 4)">
    <p disabled>Página 04 - vanished--how strange it was!--a few sayings like this about cabbages.</p>
    <p disabled>She stiffened a little on the kerb, waiting for Durtnall's van to pass. A charming woman, Scrope Purvis thought her (knowing her as one does know people who live next door to one in Westminster); a touch of the bird about her, of the jay, blue-green, light, vivacious, though she was over fifty, and grown very white since her illness. There she perched, never seeing him, waiting to cross, very upright.</p>
    <p disabled>For having lived in Westminster--how many years now? over twenty,--one feels even in the midst of the traffic, or waking at night, Clarissa was positive, a particular hush, or solemnity; an indescribable pause; a suspense (but that might be her heart, affected, they said, by influenza) before Big Ben strikes. There! Out it boomed. First a warning, musical; then the hour, irrevocable. The leaden circles dissolved in the air. </p>
  </div>

  <div class="page text-page" (click)="movePage($event, 5)">
    <p disabled>Página 05 - the uproar; the carriages, motor cars, omnibuses, vans, sandwich men shuffling and swinging; brass bands; barrel organs; in the triumph and the jingle and the strange high singing of some aeroplane overhead was what she loved; life; London; this moment of June.</p>
    <p disabled>For it was the middle of June. The War was over, except for some one like Mrs. Foxcroft at the Embassy last night eating her heart out because that nice boy was killed and now the old Manor House must go to a cousin; or Lady Bexborough who opened a bazaar, they said, with the telegram in her hand, John, her favourite, killed; but it was over; thank Heaven--over. It was June. The King and Queen were at the Palace. And everywhere, though it was still so early, there was a beating, a stirring of galloping ponies, tapping of cricket bats; </p>
  </div>

  <div class="page text-page" (click)="movePage($event, 6)">
    <p disabled>Página 06 - eighteenth-century settings to tempt Americans (but one must economise, not buy things rashly for Elizabeth), and she, too, loving it as she did with an absurd and faithful passion, being part of it, since her people were courtiers once in the time of the Georges, she, too, was going that very night to kindle and illuminate; to give her party. But how strange, on entering the Park, the silence; the mist; the hum; the slow-swimming happy ducks; </p>
    <p disabled>"Good-morning to you, Clarissa!" said Hugh, rather extravagantly, for they had known each other as children. "Where are you off to?"</p>
    <p disabled>"I love walking in London," said Mrs. Dalloway. "Really it's better than walking in the country."</p>
  </div>

  <div class="page text-page" (click)="movePage($event, 7)">
    <p disabled>Página 07 - Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nihil, iure possimus fugiat dignissimos est adipisci porro, dicta eaque ipsum eos, accusamus velit architecto eius illo rerum nisi suscipit aperiam! Vel nobis veritatis iure maxime incidunt perspiciatis, odit, veniam impedit alias, minus distinctio aperiam in. Repudiandae, voluptate nam esse consectetur adipisci quod praesentium ex numquam eligendi obcaecati laudantium saepe hic, unde animi dolore harum corrupti perspiciatis. Hic, similique obcaecati molestias nihil id architecto dolorem rem distinctio voluptatum quaerat reprehenderit odit soluta, vel numquam ab earum, dolorum recusandae ullam. Veniam expedita ducimus nihil quo accusantium repudiandae fugit ea omnis, magnam voluptatibus? Hic, sunt. Cumque repellat cupiditate dolor, nulla iusto corporis modi quos tenetur quibusdam possimus culpa architecto, mollitia sequi quia odio excepturi ea saepe vitae eum quis quo, quas quisquam accusamus? Vitae maiores quidem beatae repellat voluptate. Unde sunt illum asperiores aperiam laudantium nisi perspiciatis! Corrupti ipsam hic laborum ea eos maiores, recusandae eveniet quaerat magni? Magnam, placeat commodi! Numquam asperiores neque at eligendi minima nemo saepe perspiciatis enim, corporis nobis consequatur harum voluptate aliquam explicabo cum voluptates. Vitae, possimus itaque eaque, earum quia veniam laboriosam tenetur labore expedita eos esse natus officiis obcaecati enim neque vel minus animi odio ipsa?</p>
  </div>

  <div class="page text-page" (click)="movePage($event, 8)">
    <p disabled>Página 08 - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, magni ab mollitia molestias velit iusto voluptatum temporibus suscipit explicabo. Minus culpa itaque omnis ipsam sed iste inventore reprehenderit ex veniam aut debitis, dolore magnam deleniti assumenda perferendis qui perspiciatis, vitae dolorum obcaecati optio, voluptatibus magni vero repellat. Architecto quos perspiciatis eum mollitia delectus veritatis error possimus, minima nihil animi, molestiae velit, asperiores consectetur quaerat adipisci esse perferendis eos vel impedit soluta sit quisquam. Quasi laborum sequi, possimus doloremque quos consequatur! Quae alias velit et a ipsum quo harum dicta ipsa quibusdam porro adipisci nulla, omnis id? Quaerat, eaque consequatur? Obcaecati saepe nobis, magni non accusantium, assumenda incidunt blanditiis autem pariatur ipsum officiis corporis rerum officia amet ipsam cumque, deserunt ratione numquam quo ut repudiandae harum cum consequatur veniam? Asperiores placeat ducimus, dicta cumque aut beatae illo ipsum vero ipsa quasi dolor, optio delectus vitae ex dolore tempora exercitationem tenetur deserunt explicabo ipsam consequuntur excepturi nobis! Saepe corrupti earum reiciendis quod quisquam mollitia voluptates, nostrum quidem cupiditate nihil sit molestiae dolores reprehenderit nulla quibusdam animi nisi, enim pariatur, vel praesentium! Animi libero odio ducimus modi! Exercitationem aspernatur saepe molestias quo explicabo, ratione hic velit ipsa deleniti laboriosam ullam accusantium quidem odit.</p> 
  </div>

  <div class="page"></div>
  
</div>